<?xml version="1.0"?>
<ServiceDefinition xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Version>1.0</Version>
	<Description>WebNotifications Provider</Description>
	<Name>INPROCESS</Name>
	<Type>WebNotifications</Type>
	<FriendlyName>InProcess</FriendlyName>
	<PropertiesDefinitions>Properties.xml</PropertiesDefinitions>
	<Generators>	
		<Generator>
			<Id>12</Id>
			<ClassName>com.genexus.internet.websocket.GXWebSocket</ClassName>
			<SupportFiles>
				<Directory>services</Directory>
			</SupportFiles>
		</Generator>
		<Generator>
			<Id>15</Id>
			<ClassName>GeneXus.Http.WebSocket.WSHandler</ClassName>		
			<SupportFiles>
				<File>bin\GXWebSocket.dll#GXWebSocket.dll</File>				
				<File>bin\Microsoft.WebSockets.dll#Microsoft.WebSockets.dll</File>
			</SupportFiles>			
		</Generator>
		<Generator>
			<Id>41</Id>
			<ClassName>GeneXus.Http.WebSocket.WSHandler</ClassName>
		</Generator>
	</Generators>
</ServiceDefinition>