/* 

#SignDocument {
    background-color: rgb(30, 144, 255) !important;
    border-radius: 0px !important;
}

#SignDocument:hover {
    background-color: rgb(30, 144, 255) !important;
}

#ModalContent header {
    background-color: rgb(30, 144, 255) !important;
}

#ModalContent h4 {
    font-style: oblique !important;
}

#certificate {
    border-radius: 2px !important;
} 

#password {
    border-radius: 2px !important;
}

#driver {
    border-radius: 2px !important;
}  

*/