			#FrogJS{
				margin: 0 ;
			}
			#FrogJSCredit{
				text-align: right;
				font-size: 80%;
				color: #999;
				padding: 1px;
			}
			#FrogJSCaption{
				text-align: left;
				line-height: 140%;
			}
