<DeploymentTarget>
	<Id>DOCKER</Id>
	<Name>Docker Image</Name>
	<DeploymentScopes>
		<Scope Id = "Backend" />
		<Scope Id = "BackendToCloud" />
	</DeploymentScopes>
	<Version>1.0</Version>
	<Description>DeployTo</Description>
	<PackageTargets>docker.targets</PackageTargets>
	<PackageMsbuild>createpackage.msbuild</PackageMsbuild>
	<PackageMsbuildTarget>CreatePackage</PackageMsbuildTarget>
	<DeployMsbuild>deploy.msbuild</DeployMsbuild>
	<DeployMsbuildTarget>Deploy</DeployMsbuildTarget>
	<ResolverFactory>Genexus.Deployment.DockerResolvers.ResolverFactory</ResolverFactory>
	<Languages>
		<Language Id="12" ApplicationServer=""/>
		<Language Id="15" ApplicationServer="IIS8"/>
		<Language Id="41" ApplicationServer="Kestrel"/>
	</Languages>
	<PropertiesDefinitions>Properties.xml</PropertiesDefinitions>
</DeploymentTarget>
