<?xml version="1.0" encoding="utf-8" ?>
<Snippets>
  <Category name="Snippets">
		<Snippet name="Accept rule"/>
    <Snippet name="Add rule"/>
    <Snippet name="Assignment rule"/>
		<Snippet name="BC section"/>
    <Snippet name="Call rule"/>
    <Snippet name="Default rule"/>
    <Snippet name="Error rule"/>
    <Snippet name="Message rule"/>
		<Snippet name="NoAccept rule"/>
		<Snippet name="Parm rule"/>
		<Snippet name="Serial rule"/>
		<Snippet name="Subtract rule"/>
		<Snippet name="Update rule"/>
		<Snippet name="Web section"/>
		<Snippet name="Win section"/>
	</Category>
</Snippets>