<?xml version="1.0" encoding="utf-8"?>
<modulepackages>
  <module id="GeneXusSecurityCommon" version="2.10.25.161375" />
  <module id="GeneXusSecurity" version="2.10.25.161375" />
  <module id="GeneXus" version="3.10.4.160901" />
  <module id="Chatbot" version="3.10.3.160933" />
  <module id="GeneXusOffice" version="2.10.1.160972" />
  <module id="GeneXusAI" version="2.10.2.160933" />
  <module id="GeneXusChannels" version="2.10.3.160933" />
  <module id="SecurityAPICommons" version="2.10.29.161311" />
  <module id="GeneXusCryptography" version="2.10.29.161311" />
  <module id="GeneXusXMLSignature" version="2.10.29.161311" />
  <module id="GeneXusJWT" version="2.10.29.161311" />
  <module id="GeneXusSFTP" version="2.10.29.161311" />
  <module id="GeneXusFTPS" version="2.10.29.161311" />
  <module id="GeneXusServerlessAPI" version="1.10.1.160933" />
</modulepackages>