body{

	margin: 0;
	
	font-family: 'Source Sans Pro', sans-serif;
	
	background-color: #eee;
}



.container {
	

	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	text-align: right;
	background-color: #eee;
	width: 100%
	
}

.selectServer{

	margin:5px;
	display: inline-flex;
	float: left;

}

.lupa{

    margin: 0px;
	

}



.search{


	margin: 10px 03px 10px 03px;
	
	text-align: left;

}



.searchBox{
	
	width: 100%;
	
	float: left;

	display: inline-flex;

}



.searchButton{
	
	width: 100%;
	
	float: right;

}



.searchInput {
	
	height: 15px;
	
	width: 100%;
	
	padding: 5px;
    
	border: 1px solid #ddd;
   
	border-radius: 2px;
   
	margin-right: 0px;
    
	font-size: 12px;


}

.noresults {
	font-size: 12px;
	color: #4A4A4A;
	margin: auto;
}



.stencilContainer{
	
	display: inline-block;
	
	margin-right: 2px;
	
	margin-left: 2px;

	padding-left: 0px;
	padding-bottom: 0px;


}



.stencil, .stencilDetailImage{
	
	margin: 16px;
	
	float: left;
	
	background-color: #F5F5F5;
	
	border-radius: 4px;
	
	box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
	
}



.stencilDetailImage{
	
	margin-top: 48px; 

}



.stencilInfo{
	
	width: 400px;
	
	margin: 48px 16px;
	
	float: right;

}



.stencilTitle{
	
	text-align: left;
	
	padding: 5px;
	
	font-weight: 200;
	
	font-size: 15px;
	
	color: #4A4A4A;

}


.stencilText{
	
	text-align: left;
	
	font-weight: 200;
	
	font-size: 15px;
	
	color: #4A4A4A;

}

.stencilDescription{
	
	text-align: left;
	
	padding: 24px 0 24px 16px;
	
	font-size: 14px;
	
	color: #626262;

}


.stencilAuthor{
	
	text-align: left;
	
	padding: 24px 0 0 16px;
	
	font-weight: 600;
	
	font-size: 14px;
	
	color: #626262;

}



.stencilTagsTitle{
	
	text-align: left;
	
	padding: 24px 0 0 16px;
	
	font-weight: 600;
	
	font-size: 16px;
	
	color: #626262;

}


.stencilTags{
	
	text-align: left;
	
	padding: 0 0 24px 16px;
	
	font-size: 14px;
	
	color: #626262;

}



.moreFromTitle{
	
	text-align: center;
	
	padding: 80px 0 8px 16px;
	
	font-weight: 600;
	
	font-size: 14px;
	
	color: #626262;

}



.moreImage{
	
	padding: 6px;
	
	background-color: #F5F5F5;
	
	border-radius: 4px;
	
	box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
	
	border: 1px solid #F5F5F5;
	
	float: left;
	
	margin-left: 16px;

}



a:hover .moreImage{
    
	border: 1px solid #BA0043;

}



.stencilImage{
	position:relative;
	padding: 2px;
	cursor: move;

}

.stencilImage >img{

	width: 100%;
    height: auto;
    cursor: hand;
}




.edit{
	cursor:pointer;
    margin: 5px;
	position:absolute;
    bottom: 0px;
    right: 0px;

}


.stencilButtons{
	
	margin:0;
  
}



.stencilPropertiesTable{
	
	margin: 48px 0 48px 16px;
	
	clear: both;
	
	float: left;

}



.stencilPropertiesTable th, td {

    
	text-align: left;
    
	padding: 8px;
    
	color: #626262;
    
	font-size: 12px;
    
	width: 150;

}



th{
	
	background-color: #eee;

}


tr:nth-child(odd){
	
	background-color: #f9f9f9;

}





.button {
  	cursor:pointer;
	position: relative;


  
	display: block;
  
	height: 30px;
  
	padding: 0;


  
	overflow: hidden;


  
	border-width: 0;
  
	outline: none;
  
	border-radius: 2px;

  
  
	background-color: #f5f5f5;
  
	color: #BA0043;
  
	font-weight: 600;

  
  
	transition: background-color .3s;
  
	float: right;


  
	margin: 0px 15px 15px 0;


}


.red {
	
	color: #FFF;
	
	background-color: #BA0043;
	
	margin-right: 500;


}



.button:hover, .button:focus {
  
	background-color: #BA0043;
  
	color: white;

}



.red:hover, .red:focus {
  
	background-color: #950036;

}



.button span {
  
	display: block;
  
	padding: 2px 2px;

}



.button:before {
  
	content: "";
  
  

	position: absolute;
  
	top: 50%;
  
	left: 50%;
  
  

	display: block;
  
	width: 0;
  
	padding-top: 0;
    
  

	border-radius: 100%;
  
  
	
	background-color: rgba(236, 240, 241, .3);
  
  

	-webkit-transform: translate(-50%, -50%);
  
	-moz-transform: translate(-50%, -50%);
  
	-ms-transform: translate(-50%, -50%);
  
	-o-transform: translate(-50%, -50%);
  
	transform: translate(-50%, -50%);
 

}



.button:active:before {
  
	width: 120%;
  
	padding-top: 120%;
  
  

	transition: width .2s ease-out, padding-top .2s ease-out;


}



a:link {
    
	text-decoration: none;
    
	color: #BA0043;

}



a:visited {
    
	text-decoration: none;
    
	color: #BA0043;

}



a:hover {
    
	text-decoration: underline;
    
	color: #950036;

}



.footer{
    
	visibility: hidden;

}





