<log4net threshold="OFF">
	<appender name="Genexus" type="log4net.Appender.RollingFileAppender">
		<file type="log4net.Util.PatternString">
			<converter>
				<name value="folder" />
				<type value="Artech.Common.Helpers.IO.GXLog4NetFolderConverter,Artech.Common.Helpers" />
			</converter>
			<converter>
				<name value="daemonpid" />
				<type value="Artech.Genexus.Common.ConfigGx.GXLog4NetDaemonProcessConverter,Artech.Genexus.Common" />
			</converter>
			<conversionPattern value="%folder\\GXLogging%daemonpid.log" />
		</file>
		<appendToFile value="true" />
		<maximumFileSize value="10MB" />
		<maxSizeRollBackups value="4" />
		<encoding value="unicodeFFFE" />
		<rollingStyle value="Size" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date{yyyy-MM-dd HH:mm:ss,fff} [%t] %-5p %c{1} - %m%n" />
		</layout>
		<preserveLogFileNameExtension value="true" />
	</appender>
	<root>
		<level value="OFF" />
		<appender-ref ref="Genexus" />
	</root>
</log4net>