<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=3.1.0.0, Culture=neutral, PublicKeyToken=79a65ef946496ecc"/>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=79a65ef946496ecc"/>
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=79a65ef946496ecc"/>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Genexus.Win.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
	</startup>
	<exceptionHandling>
		<exceptionPolicies>
			<add name="Global Policy">
				<exceptionTypes>
					<add name="Exception" type="System.Exception, mscorlib, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None">
						<exceptionHandlers>
							<add name="Application Message Handler" type="Artech.Common.Controls.Basic.StandardExceptionHandler, Artech.Common.Controls"/>
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
			<add name="Log Only Policy">
				<exceptionTypes>
					<add name="Exception" type="System.Exception, mscorlib" postHandlingAction="None">
						<exceptionHandlers>
							<add logCategory="Default Category" eventId="100" severity="Error" title="Genexus Application Exception" priority="0" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=3.1.0.0, Culture=neutral, PublicKeyToken=79a65ef946496ecc" name="Logging Handler" type="Artech.Common.Exceptions.DefaultLogHandler, Artech.Common"/>
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
		</exceptionPolicies>
	</exceptionHandling>
	<loggingConfiguration defaultCategory="Default Category" tracingEnabled="false">
		<logFilters>
			<add name="Category" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=79a65ef946496ecc" categoryFilterMode="AllowAllExceptDenied">
				<categoryFilters/>
			</add>
			<add name="Priority" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=79a65ef946496ecc" minimumPriority="0"/>
		</logFilters>
		<categorySources>
			<add name="Default Category" switchValue="All">
				<listeners>
					<add name="Event Log Destination"/>
				</listeners>
			</add>
			<add name="Tracing" switchValue="All">
				<listeners>
					<add name="Flat File Destination"/>
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<errors name="errors" switchValue="All">
				<listeners>
					<add name="Event Log Destination"/>
				</listeners>
			</errors>
		</specialSources>
		<listeners>
			<add name="Event Log Destination" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=79a65ef946496ecc" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=79a65ef946496ecc" source="Genexus Logging" formatter="Default Formatter"/>
			<add name="Flat File Destination" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=79a65ef946496ecc" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=79a65ef946496ecc" fileName="trace.log"/>
		</listeners>
		<formatters>
			<add name="Default Formatter" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=79a65ef946496ecc" template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"/>
		</formatters>
	</loggingConfiguration>
	<cachingConfiguration defaultCacheManager="Default Cache Manager">
		<backingStores>
			<add name="inMemory" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching"/>
		</backingStores>
		<cacheManagers>
			<add name="Default Cache Manager" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory"/>
			<add name="Object Cache Manager" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="100" numberToRemoveWhenScavenging="10" backingStoreName="inMemory"/>
			<add name="Table Cache Manager" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="100" numberToRemoveWhenScavenging="10" backingStoreName="inMemory"/>
		</cacheManagers>
	</cachingConfiguration>
	<appSettings>
		<add key="MainRss" value="http://planetx.genexus.com/rss20.xml"/>
		<add key="UserControlsRss" value="http://marketplace.genexus.com/afeed2.aspx?3"/>
		<add key="ExtensionsRss" value="http://marketplace.genexus.com/afeed2.aspx?2"/>
		<add key="HelpLocalStartPage" value="Documentation\GeneXus_Documentation.htm"/>
		<add key="HelpLocalPageTemplate" value="{1}{2}{0}.html"/>
		<add key="HelpOnlineStartPage" value="http://www.genexus.com/v17"/>
		<add key="HelpOnlinePageTemplate" value="http://wiki.genexus.com/commwiki/servlet/hwikibypageid?{0}"/>
		<add key="Matrix:Global Matrix" value="https://matrix-assets.genexus.com/repository/gx-global-matrix-stable-channel/"/>
		<add key="Generator:5" value="Artech.Generator.RPG.dll"/>
		<add key="Generator:6" value="Artech.Generator.COBOL.dll"/>
		<add key="Generator:12" value="Artech.Generator.Java.dll"/>
		<add key="Generator:15" value="Artech.Generator.DotNet.dll"/>
		<add key="Generator:41" value="Artech.Generator.DotNetCore.dll"/>
		<add key="Generator:26" value="Artech.Generator.SmartDevices.dll"/>
		<add key="Generator:28" value="Artech.Generator.Android.dll"/>
		<add key="Generator:29" value="Artech.Generator.JS.dll"/>
		<add key="Generator:31" value="Artech.Generator.Swift.dll"/>
		<add key="DefaultDirectoryForCreate" value="C:\Models"/>
		<add key="DefaultEnvironmentForCreate" value=".NET Environment"/>
		<add key="HiddenCategoriesProperties" value="AdvancedSecurity"/>
		<add key="StartPageURL1" value="https://start2.genexus.com/welcome.aspx"/>
		<add key="StartPageURL2" value="https://start2.genexus.com/startpage.aspx"/>
		<add key="SamplesServer" value="http://samples.genexusserver.com/v17"/>
		<add key="TeamDevTimeOut" value="01:00:00"/>
		<!-- ServerStatusTimeout timeout controls the maximum delay time expected in short communications to GXserver for checking commit/update status.
		This value should be between 1 to 5 seconds for high bandwith intranet access to GXserver, or 6 or more seconds for internet access or slow connections -->
		<add key="ServerStatusTimeout" value="00:00:10"/>
		<add key="ConnectivityTimeOut" value="00:00:15"/>
		<add key="SqlTimeout" value="190"/>
		<add key="MyGxLocation" value="http://www.genexusnet.com/mygx"/>
		<add key="DeployToCloudServerUrl" value="https://apps6.genexus.com"/>
		<add key="DeployToCloudServerJDK" value="8"/>
		<add key="DeployToCloudDbServer" value="apps6.genexus.com"/>
		<add key="DeployToCloudWinServerUrl" value="https://apps5.genexus.com"/>
		<add key="DeployToCloudWinDbServer" value="apps5.genexus.com"/>
		<add key="GXtechnicalLoginWS" value="https://www2.genexusnet.com/WSIde/agxwsidelogin.aspx"/>
		<add key="GXtechnicalLoginMarketplaceWS" value="https://marketplace.genexus.com/aam_authservices.aspx"/>
		<add key="GXtechnicalLogoutWS" value="https://www2.genexusnet.com/WSIde/agxwsidelogout.aspx"/>
		<add key="GXtechnicalCheckTokenWS" value="https://www2.genexusnet.com/WSIde/agxwsidecheck.aspx"/>
		<add key="GXtechnicalNewUserWS" value="https://www2.genexusnet.com/WSIde/anewuseremail.aspx"/>
		<add key="GXtechnicalForgotPasswordWS" value="https://www2.genexusnet.com/WSIde/aforgotyourpsw.aspx"/>
		<!--add key="ProtectionKeepAliveTimeout" value="00:05:00"/-->
		<add key="ProtectionEmailToAuthorize" value="keys@genexus.com"/>
		<!--add key="BuildGetDevicesURL" value="https://www2.genexusnet.com/kbnv15/agetdevices.aspx"/-->
		<!--add key="BuildPushMsgURL" value="https://www2.genexusnet.com/kbnv15/apushmsg.aspx"/-->
		<!--add key="InfoTipShortcut" value="ControlShiftSpace"/-->
		<!--add key="IntelliTipShortcut" value="ControlSpace"/-->
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<add key="CiIntegratedToGenexusAndGxserver" value="https://wiki.genexus.com/commwiki/servlet/wiki?46966,CI+integrated+to+GeneXus+and+GXserver" />
		<add key="ConfigureGxserverAndCi" value="https://wiki.genexus.com/commwiki/servlet/wiki?46996,How+to+configure+GeneXus+Server+for+Continuous+Integration" />
		<add key="CreateNewPipelineInfo" value="https://wiki.genexus.com/commwiki/servlet/wiki?46972,CI%3A%20Create%20Pipeline" />
		<add key="TreatMissingDependenciesAsErrors" value="false"/>
	</appSettings>
	<system.runtime.remoting>
		<application>
			<channels>
				<channel displayName="HTTP channel" ref="http" port="0">
					<clientProviders>
						<formatter ref="binary"/>
					</clientProviders>
				</channel>
			</channels>
			<client>
			</client>
		</application>
	</system.runtime.remoting>
	<system.net>
		<connectionManagement>
			<add maxconnection="200" address="*"/>
		</connectionManagement>
	</system.net>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Artech.Architecture.Interfaces" publicKeyToken="6f5bf81c27b6b8aa" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.3.2.10" newVersion="1.3.2.10" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.9999.9999.9999" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
			</dependentAssembly>
		</assemblyBinding>
		<DisableDoubleMapping enabled="true"/>
	</runtime>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="ClientRoleProvider">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="UpgradeVersionSoapBinding" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://www5.genexus.com/gxkeyws/aupgradeversion.aspx"
			 binding="basicHttpBinding" bindingConfiguration="UpgradeVersionSoapBinding"
			 contract="WebUpgradeLicense.UpgradeVersionSoapPort" name="UpgradeVersionSoapPort" />
		</client>
	</system.serviceModel>
	<applicationSettings>
		<Genexus.Win.Properties.Settings>
			<setting name="GeneXus_Trial_Authorization_Webservice_Trialws"
			 serializeAs="String">
				<value>http://www2.gxtechnical.com/main10/atrialws.aspx</value>
			</setting>
			<setting name="GeneXus_WebAuthorize2_GenRequestKey" serializeAs="String">
				<value>http://www2.gxtechnical.com/RequestKey/agenrequestkey.aspx</value>
			</setting>
			<setting name="GeneXus_WebUpgradeLicense_UpgradeVersion" serializeAs="String">
				<value>http://www2.gxtechnical.com/UpgradeKey/aupgradeversion.aspx</value>
			</setting>
		</Genexus.Win.Properties.Settings>
	</applicationSettings>
</configuration>
