<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="app" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	
	<app>
		<!-- Reverse Engineering Main Settings -->
		<add key="Product" value="GX"/>
		<add key="WizardLayout" value="Full"/>
		<add key="DumpDataset" value="True"/>
		<add key="PluginDirectory" value="plugins"/>
	</app>
	
	<!-- Reverse Engineering Logging Settings -->
	<log4net>
		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<param name="File" value="ReverseEngineering.log" />
			<param name="AppendToFile" value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p - %m%n" />
			</layout>
		</appender>
		<root>
			<level value="INFO" />
			<appender-ref ref="FileAppender" />
		</root>
	</log4net>
</configuration>
