<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.genexus.android.notifications.jpush"
	xmlns:tools="http://schemas.android.com/tools">

	<application>
		<receiver
			android:name="com.genexus.android.notifications.jpush.JPushReceiver"
			android:enabled="true" android:exported="false">
			<intent-filter>
				<action android:name="cn.jpush.android.intent.REGISTRATION" />
				<action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
				<action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
				<action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
				<action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
				<action android:name="cn.jpush.android.intent.CONNECTION" />
				<category android:name="${applicationId}" />
			</intent-filter>
		</receiver>
	</application>
</manifest>
