<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.genexus.android.controls.maps.gaode">
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application>
        <activity android:name="com.genexus.android.controls.maps.gaode.LocationPickerActivity" />
        <meta-data android:name="com.amap.api.v2.apikey" android:value="@string/MapsApiKey" />
    </application>
</manifest>