<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.genexus.android.controls.maps.googlev2" >

    <!-- permission for google maps -->
   <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
   <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
   <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- features for google maps -->
   <uses-feature android:glEsVersion="0x00020000" android:required="true"/> <!-- OpenGL 2.0 -->
   <uses-feature android:name="android.hardware.location.gps" android:required="false"/> <!-- gps not required -->

    <application>
        <activity android:name="com.genexus.android.controls.maps.google.LocationPickerActivity" />

        <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/GoogleServicesApiKey" />
    </application>

	<queries>
		<package android:name="com.google.android.apps.maps" />
	</queries>
</manifest>
