<?xml version="1.0" encoding="utf-8" ?>
<Snippets>
  <Category name="Snippets">
		<Snippet name="Do Case command"/>
		<Snippet name="Do while command"/>
		<Snippet name="Event definition"/>
		<Snippet name="For each command"/>
		<Snippet name="For each line command"/>
		<Snippet name="For each line in command"/>
		<Snippet name="For each none command"/>
		<Snippet name="For each using command"/>
		<Snippet name="For each using none command"/>
		<Snippet name="For each using where command" hidden="true"/>
		<Snippet name="For each using where none command" hidden="true"/>
		<Snippet name="For each selected line command"/>
		<Snippet name="For each selected line in command"/>
		<Snippet name="For each where command" hidden="true"/>
		<Snippet name="For each where none command" hidden="true"/>
		<Snippet name="For in command"/>
		<Snippet name="For to command"/>
		<Snippet name="For to Step command"/>
		<Snippet name="If Else command"/>
		<Snippet name="Subroutine command"/>
  </Category>
</Snippets>