<?xml version="1.0" encoding="utf-8" ?>
<Snippets>
  <Category name="Snippets">
		<Snippet name="Assignment command"/>
		<Snippet name="BC section"/>
		<Snippet name="Do Case command"/>
		<Snippet name="Do while command"/>
		<Snippet name="Event definition"/>
		<Snippet name="For in command"/>
		<Snippet name="For to command"/>
		<Snippet name="For to Step command"/>
		<Snippet name="If Else command"/>
		<Snippet name="Web section"/>
		<Snippet name="Win section"/>
  </Category>
</Snippets>