<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.genexus.android.ar">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <meta-data android:name="com.google.ar.core" android:value="required" />
        <activity android:name="com.genexus.android.ar.PreviewActivity"
            android:configChanges="orientation|screenSize"/>
		<!--
		The rationale behind the configChanges property is to avoid the activity being destroyed
		when the phone is rotated. When building AR applications, it is convenient to think of the
		phone as a "window" or pane of glass through which you can see the augmented reality. To aid
		this, just like the camera app on your phone, the rotation of the phone does not change the
		field of view and the image is rotated and rendered correctly. Without this setting, the
		activity would be destroyed when rotated, and the AR experience would have to be recreated.
		https://github.com/google-ar/sceneform-android-sdk/issues/158
		-->
    </application>

</manifest>
