<?xml version="1.0"?>
<ServiceDefinition xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Version>1.0</Version>
	<Description>Google Maps</Description>
	<Name>MAPS_GOOGLE</Name>
	<Type>Maps</Type>
	<FriendlyName>Google Maps</FriendlyName>
	<IsClientService>true</IsClientService>
</ServiceDefinition>