<?xml version="1.0"?>
<ServiceDefinition xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Version>0.1.0</Version>
	<Description>IBM Cloud Storage Service</Description>
	<Name>IBMCOS</Name>
	<Type>Storage</Type>
	<FriendlyName>IBM Cloud Object Storage</FriendlyName>
	<PropertiesDefinitions>Properties.xml</PropertiesDefinitions>
	<Generators>
		<Generator>
			<Id>12</Id>
			<ClassName>com.genexus.db.driver.ExternalProviderIBM</ClassName>
			<SupportFiles>
				<Directory>services</Directory>
			</SupportFiles>
		</Generator>
	</Generators>
</ServiceDefinition>