<?xml version="1.0"?>
<ServiceDefinition xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Version>1.0</Version>
	<Description>AutoNavi Maps</Description>
	<Name>MAPS_GAODE</Name>
	<Type>Maps</Type>
	<FriendlyName>AutoNavi Maps API</FriendlyName>
	<PropertiesDefinitions>Properties.xml</PropertiesDefinitions>
	<ResolverFactory>Genexus.Services.GaodeMaps.PropertiesResolvers.ResolverFactory</ResolverFactory>
	<IsClientService>true</IsClientService>
</ServiceDefinition>