<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.genexus.android.controls.maps.baidu">
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

	<!--  https://programmersought.com/article/36655549123/
	//Sd card write permission is allowed, map data needs to be written, and the map cannot be displayed after it is disabled
    -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application>
        <activity android:name="com.genexus.android.controls.maps.baidu.LocationPickerActivity" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <service
            android:name="com.genexus.android.location.baidu.BaiduLocationUpdatesService"
            android:enabled="true"
			android:exported="false"/>

        <meta-data android:name="com.baidu.lbsapi.API_KEY" android:value="@string/MapsApiKey" />

    </application>
</manifest>
