<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
$if(Main.iOSUseSignInWithApple)$
	<key>com.apple.developer.applesignin</key>
	<array>
		<string>Default</string>
	</array>
$endif$
$if(Main.iOSHasAssociatedDomains)$
  <key>com.apple.developer.associated-domains</key>
  <array>
$Main.iOSAssociatedDomains:{associatedDomain|     <string>$associatedDomain$</string>};separator="\n"$
  </array>
$endif$
$if(Main.EnableNotification)$
  <key>aps-environment</key>
	<string>development</string>
$endif$
	<key>keychain-access-groups</key>
	<array>
		<string>\$(AppIdentifierPrefix)\$(CFBundleIdentifier)</string>
		<string>\$(AppIdentifierPrefix)GXSharedAccessGroup</string>
	</array>
$if(Main.iOSShouldAddContactsEntitlement)$
	<key>com.apple.developer.contacts.notes</key>
	<true/>
$endif$
$Main.iOSExtensionLibrariesEntitlements$
</dict>
</plist>
