<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$Main.iOSDevelopmentRegion$</string>
	<key>CFBundleDisplayName</key>
	<string>$Main.AppTitle; format="Escape"$</string>
	<key>CFBundleExecutable</key>
	<string>\${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>\$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
$Main.iOSLocalizationsLowercaseIsoLanguageCodes:{langCode|		<string>$langCode$</string>};separator="\n"$
	</array>
	<key>CFBundleName</key>
	<string>\${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>\$(MARKETING_VERSION)</string>
	$Main.URLSchemas$
	<key>CFBundleVersion</key>
	<string>\$(CURRENT_PROJECT_VERSION)</string>
	$Main.FacebookAppID$
	<key>GXDefaultServerAddress</key>
	<string>$Model.iOSTargetUrl; format="Escape"$</string>
	<key>GXDefaultServerMainEntryPoint</key>
	<string>$Main.ObjType$-$Main.FullName$</string>
	<key>GXDynamicUrlFlag</key>
	$Model.DynamicUrlFlag$
	<key>GXServicesURLConfigPanel</key>
	<string>$Model.DynamicUrlConfigObject$</string>
	<key>GXKnowledgeBaseName</key>
	<string>$Model.KBName; format="Escape"$</string>
	<key>GXMetadataVersion</key>
	<integer>$Model.GxVersion$</integer>
	$Main.IOSOfflineInfoPlistKeys$
$if(Main.AppleDevice_iOS)$
	<key>GXiOSGeneratorLanguage</key>
	<string>$Model.iOSGeneratorLanguage$</string>
$endif$
	$Main.IOSQueriesSchemes$
$if(Main.AppleDevice_iOS)$
	<key>LSRequiresIPhoneOS</key>
	<true/>
$endif$
	$Main.iOSUIApplicationShortcutItems$
	$Main.IOSAppTransportSecurity$
	$Main.iOSCertificatePinning$
	$Main.IOSUsageDescription$
	$Main.iOSBonjourServices$
	$Main.IOSTemporaryLocationPurposeStrings$
	$Main.IOSLocationDefaultAccuracyReduced$
	$Main.IOSThemeFonts$
	$Main.IOSUIBackgroundModes$
	$Main.IOSUIUserInterfaceStyleInfoPlistKey$
$if(Main.AppleDevice_iOS)$
	<key>UILaunchStoryboardName</key>
	<string>GXLaunchScreen</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
$endif$
$if(Main.AppleDevice_tvOS)$
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
$endif$
$Main.iOSSuperAppInfoPlist$
$Main.iOSExtensionLibrariesInfoPlist$
</dict>
</plist>
