<gx-image-picker
  #imageUpload
  [alt]="alt"
  [autoGrow]="autoGrow"
  [cssClass]="cssClass"
  [disabled]="disabled"
  [invisibleMode]="invisibleMode"
  [lazyLoad]="lazyLoad"
  [lowResolutionSrc]="lowResolutionSrc"
  [scaleType]="scaleType"
  [src]="src"
  [highlightable]="highlightable"
  [attr.readonly]="readonly"
  [modalTitle]="modalTitle | translate"
  [changeButtonText]="changeButtonText | translate"
  [removeButtonText]="removeButtonText | translate"
  [cancelButtonText]="cancelButtonText | translate"
  [state]="state"
  (click)="clickImageAction($event)"
  (onImageChanged)="handleImageChange($event)"
>
</gx-image-picker>