.titulosRosa {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-left: 5px;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	color: #76252A;
}

.titulosRosaBgc {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-left: 5px;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	background-color: #CDAAAD;
	color: #76252A;
}

.textoGrande {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	color: black;
}

.textoGrandeAzul 
{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	color: #2B5E99;
}

.textoError {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #FDFCF7;
	color: #D20202;
}

.textoMsg {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #FDFCF7;
	color: #3F0000;
}

.textoWarn {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #FDFCF7;
	color: #3F0000;
}

.titulosTabla {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	background-image: URL(images/title_table.gif);
	height: 18px;
	padding-left: 5px;
	padding-right: 5px;
	color: #6C6C6C;
}

.titulosTablaSubMain {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	background-image: URL(images/title_table.gif);
	height: 18px;
	padding-left: 5px;
	padding-right: 5px;
	color: #2A384D;
}

.subTitulosTabla {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	background-image: URL(images/subtitle_table.gif);
	height: 15px;
	padding-left: 5px;
	padding-right: 5px;
	color: black;
}

.textoGrisTabla {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-left: 5px;
	color: #5E5E5E;
}

tr.textoGrisTabla table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-left: 5px;
	color: #5E5E5E;
}

.gxobjnotexist{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: red;
}

.gxobj{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: underline;
	color: #2B5E99;
	cursor: hand;
}

.gxcontent
{
	border-left: white thin;
	border-top: white thin;
	border-right: silver 1px solid;
	border-bottom: silver 1px solid;
}

.gxsource
{
	background-color: transparent;
	color: darkblue;
}

.gxevent
{
	color: darkblue;
}
