
/*** adding the class sf-navbar in addition to sf-menu creates an all-horizontal nav-bar menu ***/
.sf-navbar {	
	position: relative;
}



.sf-navbar li {
	background:		#4B8ACD;	
	position: static;   
	margin-left: 2px; 	
     border-top-right-radius: 5px;
	 border-top-left-radius: 5px;
    -moz-border-radius-topright:5px;
	-moz-border-radius-topleft :5px;
	 font-family:"Trebuchet MS";
	 font-size: 12px;
	 

}

.sf-navbar  li.sf-navbar-title 
{
	background: transparent;	
	position: static;   
	margin-left: 2px; 	    
	font-family:"Trebuchet MS";
	font-size: 12px;
	min-width: 6em;
	
	border-top-right-radius: 0px;
	 border-top-left-radius: 0px;
    -moz-border-radius-topright:0px;
	-moz-border-radius-topleft :0px;
}

.sf-navbar  li.sf-navbar-title a:hover{
	background: transparent !important;
}

.sf-navbar  li.sf-navbar-title:hover{
	background: transparent !important;
}



.sf-title  a
{
	background: transparent !important;	
	position: static;   
	margin-left: 2px; 	

	 font-family:"Trebuchet MS";
	 font-size: 13px;
	 min-width: 6em;
}



.sf-display {
	
	background:#EAF3FE;	
	height:31px;
	border-bottom: solid 1px #C5DBF4;
	
}
.sf-display-inactivesel {
	background-color: #C4DEFD;
	border-bottom: solid 1px #90BBE9;
}
.sf-navbar li.sfHover  ul li.sfHover ul
{
	
	min-width: 130px;	
	width: 100%;
}


.sf-navbar li.sfHover  ul li.sfHover ul li a.sf-with-ul
{
	text-align: left;
	width:auto;
	position: relative;
	padding-left:5px;
	padding-right:5px;
	background-color: #FFFFFF;
	
}

.sf-navbar li a.sf-with-ul
{
	color: #FFFFFF ;
}

.sf-menu li.sfHover a {
	color:	#0968C4;	
	
}

.sf-navbar li.sfHover li a {
	color: #333;
}


.sf-navbar li.sf-breadcrumb  a {
	
	background-color:  #EAF3FE;
	color: #000000;	
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
    -moz-border-radius-topright:5px;
	-moz-border-radius-topleft :5px;
}

.sf-navbar li.sf-breadcrumb.sfHover ul{
	background: #EAF3FE;
	
	
}

.sf-navbar li.sf-breadcrumb.sfHover li a.sf-with-ul {
	
	background: #EAF3FE;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
    -moz-border-radius-topright:0px;
	-moz-border-radius-topleft :0px;
}


/*End Current*/

.sf-navbar li.sfHover li a:hover {
	color:		#0968C4;
}


.sf-navbar li.sfHover ul li ul
{	
   
	border-bottom: solid 1px #BDD8F3;

	
} 

.sf-navbar li:hover, .sf-navbar li.sfHover,
.sf-navbar a:focus, .sf-navbar a:hover, .sf-navbar a:active {
	background:		#C4DEFD;	
}

.sf-navbar  li.current {
	background: transparent;	
	
}


.sf-navbar li.sfHover  ul {
	left:			0px;
	top:			2.5em; /* match top ul list item height */	
	z-index:		99;	
	display: block;		
	background: #C4DEFD;
}

.sf-navbar a {
	border-top:		none;
}

.sf-navbar li li {
	
	background-color: transparent;
	position:		relative;
	color: #DDD;
}


.sf-navbar li li li {
	width:			100%;
}
.sf-navbar ul li {
	width:			auto;
	float:			left;
}
.sf-navbar a, .sf-navbar a:visited {
	border:			none;
	
}


.sf-navbar li:hover,
.sf-navbar li.sfHover,
.sf-navbar li li.current,
.sf-navbar a:focus, .sf-navbar a:hover, .sf-navbar a:active {

    
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
    -moz-border-radius-topright:5px;
	-moz-border-radius-topleft :5px;	
}



.sf-navbar ul li:hover,
.sf-navbar ul li.sfHover,
ul.sf-navbar ul li:hover li,
ul.sf-navbar ul li.sfHover li,
.sf-navbar ul a:focus, .sf-navbar ul a:hover, .sf-navbar ul a:active {

	border-top-right-radius: 0px;
	 border-top-left-radius: 0px;
    -moz-border-radius-topright:0px;
	-moz-border-radius-topleft :0px;
	
}


ul.sf-navbar li li li:hover,
ul.sf-navbar li li li.sfHover,
.sf-navbar li li.current li.current,
.sf-navbar ul li li a:focus, .sf-navbar ul li li a:hover, .sf-navbar ul li li a:active {	
	background:		#FFFFFF;
	border-top-right-radius: 0x;
	 border-top-left-radius: 0px;
    -moz-border-radius-topright:0px;
	-moz-border-radius-topleft :0px;
}
ul.sf-navbar .current ul,
ul.sf-navbar ul li:hover ul,
ul.sf-navbar ul li.sfHover ul {
	left:			0;
	top:			2.5em; /* match top ul list item height */
}
ul.sf-navbar .current ul ul {
	top: 			-999em;
}

.sf-navbar li li.current > a {
	font-weight:	bold;
}

/*** point all arrows down ***/
/* point right for anchors in subs */
.sf-navbar ul .sf-sub-indicator { background-position: -10px -100px; }
.sf-navbar ul a > .sf-sub-indicator { background-position: 0 -100px; }
/* apply hovers to modern browsers */
.sf-navbar ul a:focus > .sf-sub-indicator,
.sf-navbar ul a:hover > .sf-sub-indicator,
.sf-navbar ul a:active > .sf-sub-indicator,
.sf-navbar ul li:hover > a > .sf-sub-indicator,
.sf-navbar ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}


.sf-navbar ul li ul.sf-sub-indicator { background-position: -10px -0px; }
.sf-navbar ul li ul a > .sf-sub-indicator { background-position: 0 -0px; }
/* apply hovers to modern browsers */
.sf-navbar ul li ul a:focus > .sf-sub-indicator,
.sf-navbar ul li ul a:hover > .sf-sub-indicator,
.sf-navbar ul li ul a:active > .sf-sub-indicator,
.sf-navbar ul li ul li:hover > a > .sf-sub-indicator,
.sf-navbar ul li ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0px; /* arrow hovers for modern browsers*/
}





/*** remove shadow on first submenu ***/
.sf-navbar > li > ul {
	/*background: transparent;*/
	padding: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
}