<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="OWASP A2 Broken Authentication" Description="The prevalence of broken authentication is widespread due to the design and implementation of most identity and access controls. Session management is the bedrock of authentication and access controls, and is present in all stateful applications. Attackers can detect broken authentication using manual means and exploit them using automated tools with password lists and dictionary attacks." ToolsVersion="15.0">
  <Rules AnalyzerId="GeneXusSecurityScanner" RuleNamespace="Genexus">
    <Rule Id="100" Action="Error" />
    <Rule Id="105" Action="Error" />
    <Rule Id="106" Action="Error" />
    <Rule Id="107" Action="Error" />
    <Rule Id="116" Action="Error" />
	<Rule Id="138" Action="Error" />
  </Rules>
</RuleSet>