<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="OWASP A3 Sensitive Data Exposure" Description="Over the last few years, this has been the most common impactful attack. The most common flaw is simply not encrypting sensitive data. When crypto is employed, weak key generation and management, and weak algorithm, protocol and cipher usage is common, particularly for weak password hashing storage techniques. For data in transit, server side weaknesses are mainly easy to detect, but hard for data at rest." ToolsVersion="15.0">
  <Rules AnalyzerId="GeneXusSecurityScanner" RuleNamespace="Genexus">
    <Rule Id="109" Action="Error" /> <!-- Values: Error, Warning, Off-->
    <Rule Id="105" Action="Error" />
  </Rules>
</RuleSet>