<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="OWASP A4 XML External Entities" Description="Many older or poorly configured XML processors evaluate external entity references within XML documents. External entities can be used to disclose internal files using the file URI handler, internal file shares, internal port scanning, remote code execution, and denial of service attacks." ToolsVersion="15.0">
  <Rules AnalyzerId="GeneXusSecurityScanner" RuleNamespace="Genexus">
    <Rule Id="133" Action="Error" />
  </Rules>
</RuleSet>