<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="OWASP A5 Broken Access Control" Description="Access control weaknesses are common due to the lack of automated detection, and lack of effective functional testing by application developers.
Access control detection is not typically amenable to automated static or dynamic testing. Manual testing is the best way to detect missing or ineffective access control, including HTTP method (GET vs PUT, etc), controller, direct object references, etc" ToolsVersion="15.0">
  <Rules AnalyzerId="GeneXusSecurityScanner" RuleNamespace="Genexus">
    <Rule Id="100" Action="Error" />
    <Rule Id="102" Action="Error" />
    <Rule Id="105" Action="Error" />
    <Rule Id="106" Action="Error" />
    <Rule Id="107" Action="Error" />
    <Rule Id="108" Action="Error" />
    <Rule Id="110" Action="Error" />
    <Rule Id="111" Action="Error" />
    <Rule Id="112" Action="Error" />
    <Rule Id="116" Action="Error" />
    <Rule Id="129" Action="Error" />
  </Rules>
</RuleSet>