<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="OWASP A6 Security Misconfiguration" Description="Security misconfiguration is the most commonly seen issue. This is commonly a result of insecure default configurations, incomplete or ad hoc configurations, open cloud storage, misconfigured HTTP headers, and verbose error messages containing sensitive information. Not only must all operating systems, frameworks, libraries, and applications be securely configured, but they must be patched/upgraded in a timely fashion." ToolsVersion="15.0">
  <Rules AnalyzerId="GeneXusSecurityScanner" RuleNamespace="Genexus">
    <Rule Id="106" Action="Error" />
    <Rule Id="115" Action="Error" />
  </Rules>
</RuleSet>