<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="OWASP A7 Cross Site Scripting (XSS)" Description="XSS is the second most prevalent issue in the OWASP Top 10, and is found in around two thirds of all applications.
Automated tools can find some XSS problems automatically" ToolsVersion="15.0">
  <Rules AnalyzerId="GeneXusSecurityScanner" RuleNamespace="Genexus">
    <Rule Id="101" Action="Error" />
    <Rule Id="109" Action="Error" />
    <Rule Id="117" Action="Error" />
    <Rule Id="121" Action="Error" />
    <Rule Id="124" Action="Error" />
    <Rule Id="130" Action="Error" />
    <Rule Id="131" Action="Error" />
    <Rule Id="132" Action="Error" />
  </Rules>
</RuleSet>