<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="OWASP A8 Insecure Deserialization" Description="Insecure deserialization often leads to remote code execution. Even if deserialization flaws do not result in remote code execution, they can be used to perform attacks, including replay attacks, injection attacks, and privilege escalation attacks." ToolsVersion="15.0">
  <Rules AnalyzerId="GeneXusSecurityScanner" RuleNamespace="Genexus">
    <Rule Id="113" Action="Error" />
	<Rule Id="125" Action="Error" />
    <Rule Id="126" Action="Error" />
    <Rule Id="127" Action="Error" />
    <Rule Id="128" Action="Error" />
    <Rule Id="104" Action="Error" />
    <Rule Id="134" Action="Error" />
    <Rule Id="135" Action="Error" />
  </Rules>
</RuleSet>