<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="OWASP A9 Using Components with Known Vulnerabilities" Description="Components, such as libraries, frameworks, and other software modules, run with the same privileges as the application. If a vulnerable component is exploited, such an attack can facilitate serious data loss or server takeover. Applications and APIs using components with known vulnerabilities may undermine application defenses and enable various attacks and impacts." ToolsVersion="15.0">
  <Rules AnalyzerId="GeneXusSecurityScanner" RuleNamespace="Genexus">
    <Rule Id="120" Action="Error" />
    <Rule Id="121" Action="Error" />
  </Rules>
</RuleSet>