<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Environment properties and other usefull rules" Description="Environment properties and other usefull rules" ToolsVersion="15.0">
  <Rules AnalyzerId="GeneXusSecurityScanner" RuleNamespace="Genexus">
    <Rule Id="136" Action="Error" />
    <Rule Id="137" Action="Error" />
	<Rule Id="138" Action="Error" />
	<Rule Id="106" Action="Error" />
	<Rule Id="119" Action="Error" />
  </Rules>
</RuleSet>