
/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}


.field {
  background-color: black;
  color:white;
  margin: 2px; 
  border: white 2px solid; 
  padding:5px; 
  //width:150px;	 
  display:inline-block;
  border-radius:10px;
}

.model {
  background-color: #8200b4;
  color:white;
  margin: 2px; 
  border: white 2px solid; 
  padding:5px; 
  //width:150px;	 
  display:inline-block;
  border-radius:10px;
}

.catalog {
  background-color: orange;
  color:white;
  margin: 2px; 
  border: white 2px solid; 
  padding:5px; 
  //width:150px;	 
  display:inline-block;
  border-radius:10px;
}

.list {
  background-color: blue;
  color:white;
  margin: 2px; 
  border: white 2px solid; 
  padding:5px; 
  //width:150px;	 
  display:inline-block;
  border-radius:10px;
}

.logic {
  background-color: yellow;
  color:black;
  margin: 2px; 
  border: black 2px solid; 
  padding:5px; 
  //width:150px;	 
  display:block;
  border-radius:10px;
}


.constant {
  margin: 2px; 
  display:inline-block;
  border-radius:10px;
  padding: 2px;
}
.resultado {
  color:white;
  margin: 2px; 
  border: white 2px solid; 
  padding:5px; 
  display:inline-block;
  border-radius:10px;
  background-color: red;
}
.rojo{
  background-color: red;	
}

.amarillo{
  color:black;
  background-color: yellow;	
}

.verde{
  background-color: green;	
}

.constraint {
  background-color: green;
  color:white;
  margin: 2px; 
  border: black 2px solid; 
  padding:2px; 
  min-width:150px;	
  display:block; 
  border-radius:10px;
}

.constraintText{
  margin: 2px; 
  padding-top: 10px; 
  display:inline-block; 
  vertical-align:top;
}

.in {
  background-color: green;
  color:white;
  margin: 2px; 
  border: black 2px solid; 
  padding:2px; 
  min-width:150px;	
  display:block; 
  border-radius:10px;
}

.arithmetic {
  background-color: white;
  color:black;
  margin: 2px; 
  border: black 0px solid; 
  padding:2px; 
  min-width:150px;	
  display:inline-block; 
  border-radius:10px;
}
.functionText {
  background-color: white;
  color:black;
  margin: 2px; 
  border: black 2px solid; 
  padding:2px; 
  min-width:150px;	
  display:inline-block; 
  border-radius:10px;
}
.functionNumber {
  background-color: white;
  color:black;
  margin: 2px; 
  border: black 2px solid; 
  padding:2px; 
  min-width:150px;	
  display:inline-block; 
  border-radius:10px;
}

.argument {
  background-color: white;
  color:black;
  margin: 2px; 
  border: black 2px solid; 
  //padding:5px; 
  min-width:30px;
  min-height:20px;
  display:inline-block;
  border-radius:10px;
  vertical-align: top;
}

.argumentlist {
  background-color: white;
  color:black;
  margin: 2px; 
  border: black 2px solid; 
  //padding:5px; 
  min-width:30px;
  min-height:20px;
  display:inline-block;
  border-radius:10px;
  padding-right:8px;
}

.toolboxitem {
  background-color: white;
  color:black;
  //margin: 2px; 
  border: black 1px solid; 
  padding-left:5px;
  padding-top:2px;
  //padding-bottom:2px;
  display:block;
  font-size:12px;
  border-radius:3px;
}

.toolboxgrouptitle {
  background-color: blue;
  color:white;
  padding-left:5px;
  padding-top:2px;
  padding-bottom:2px;
  display:block;
  font-size:14px;
  font-weight:bold;
}


.toolboxgroup {
  background-color: white;
  color:black;
  margin: 0px; 
  //border: blue 2px solid; 
  display:block;
}
.toolbox{
  background-color: white;
  //margin: 5px; 
  border: black 2px solid; 
  display:block; 
  width:200px;
  height:500px;
  overflow:auto;
  }

/*  
#Container{
	height:410px;
	width:100%;
}
*/

#workspace{
  background-color: white;
  //margin: 5px; 
  border: black 0px solid; 
  display:block; 
  width:100%;
  height:100%;
  overflow:auto;
}

#if {
  //position:relative;
  //left:150px;
  //top:0px;
  //width: 250px; 
  background-color: blue;
  margin: 5px; 
  border: black 2px solid; 
  display:inline-block; 
  border-radius:10px;  
}
.trash {
  background-color: white;
  //margin: 5px; 
  //border: black 2px solid; 
  display:inline-block; 
  border-radius:10px;  
  background-image:url(trash.jpg);
  background-size:40px 40px;
  height:40px;
  width:40px;
}

#ifRow {
  display:block; 
  white-space: nowrap;
  
}

.condition {
    min-width: 200px;
    min-height: 40px;
    background-color: white;
    margin: 5px; 
    padding-bottom:8px;
    display:block;
    border-radius:10px;    
    white-space: nowrap;
    border: black 2px solid; 
}

.result {
    min-width: 200px;
    min-height: 30px;
    background-color: white;
    margin: 5px; 
    //padding:5px;    
    display:block;
    border-radius:10px;
    border: black 2px solid; 
}



#rombo {
  background-color: transparent;
  margin: 3px; 
  padding:2px;
  margin-top: 15px;
  width: 30px; height: 30px;
  display:inline-block;
  vertical-align:top;
  overflow:visible;
}

#menuarrow {
  background-color: transparent;
  margin-top: 3px;
  padding:2px;
  width: 8px; height: 8px;
  vertical-align:top;
  overflow:visible;	
}

#flecha {
  background-color: transparent;
  margin: 5px; 
  //margin-top: 0px;
  width: 30px; height: 35px;
  display:inline-block;
  vertical-align:top;
  overflow:visible;

}

.drop {
    background-color: red;
}

.mail {
    padding:4px; 
}

.menu {
	background-color: white;
	border: 1px solid #999;
    cursor: default;
    overflow: auto;
}

.menuitem{
	cursor: default;
	padding:2px;
}

.menuitem:hover{
	background-color:  #f0f0f0;
}

/*
#eliminarcondicion:hover {
cursor:hand;
}
#agregarcondicion:hover {
cursor:hand;
}
*/

.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }