<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.genexus.android.notifications.onesignal" xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <meta-data android:name="com.onesignal.NotificationOpened.DEFAULT" android:value="DISABLE" />

		<meta-data android:name="com.onesignal.NotificationServiceExtension"
			android:value="com.genexus.android.notifications.onesignal.CustomNotificationExtenderReceiver" />

    </application>
</manifest>
