<key>com.apple.developer.icloud-container-identifiers</key>
<array>
    <string>iCloud.$Main.IOSBundleIdentifier$</string>
</array>
<key>com.apple.developer.icloud-services</key>
<array>
    <string>CloudDocuments</string>
</array>
<key>com.apple.developer.ubiquity-container-identifiers</key>
<array>
    <string>iCloud.$Main.IOSBundleIdentifier$</string>
</array>