$if(Main.AppleDevice_iOS)$  
<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.$Main.IOSBundleIdentifier$</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>$Main.Name$</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>ANY</string>
		</dict>
	</dict>
$endif$
