body
{
	margin: 0px;
	background-color: white;
	font-family: Source Sans Pro;
	min-width: 640px;
}
.recentsTitle /* Used by template */
{
	/*font-size: large;
	color: black;*/
	color: #333;
	font-size: 12pt;
}
.txtComun
{
	font-size: small;
}
.recentKBValidLink, .recentKBValidLink:visited
{
	/*color: #c60b46;
	text-decoration: none;
	font-weight: bold;
	font-size: medium;*/
	border-style: none;
    font-size: 10pt;
    color: #01a5bf;
    overflow-wrap: break-word;
    line-height: 13.889px;
	text-decoration: none;
}
.recentKBDeletedLink
{
	/*color: Gray;
	font-size: medium;*/
	border-style: none;
    font-size: 10pt;
    color: #01a5bf;
    overflow-wrap: break-word;
    line-height: 13.889px;
	text-decoration: none;
}
/*.recentKBOddLine:hover, .recentKBEvenLine:hover
{
	background-color: #d3d3d3;
}*/
.style1
{
	font-size: 12pt;
	font-weight: 600;
	max-width: 250px;
	display: inline-block;
	white-space: normal;
	color: #333;
}
.style2
{
	font-size: medium;
}

.TableUnderline
{
	padding-bottom: 10px;
	border-bottom-color: #efefef;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-color: transparent;
	border-style: solid;
	border-width: 1px;
	text-align: center;
}

.TableGray{
	padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
	padding-bottom: 25px;
    border-bottom-color: #efefef;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: #efefef;
    border-style: solid;
    border-width: 1px;
	background-color: rgba(247,247,247,.38);
}

.CreateKBLink{
	color: #ed165c;
	text-align: left;
	font-size: 11pt;
    font-weight: 400;
	text-decoration: none;
}