/* CSS StartPage Genexus */

body
{
	margin: 0px;
	background-color: white;
	font-family: SourceSansPro-Regular, Arial;
	font-size: small;
}
.recentsTitle
{
	font-size: large;
	color: black;
}
.txtComun
{
	font-size: small;
}
.txtCopyright
{
	color: white;
	font-size:small;
}
.linkAction, .linkAction:visited
{
	color: #c60b46;
}
.recentKBValidLink, .recentKBValidLink:visited
{
	color: #c60b46;
	text-decoration: none;
	font-weight: bold;
}
.recentKBValidLink:hover
{
}
.recentKBDeletedLink
{
	color: Gray;
}
.recentKBOddLine:hover, .recentKBEvenLine:hover
{
	background-color: #d3d3d3;
}
.linkAction:link, .linkAction:visited
{
	text-decoration: none;
	border: solid 5px Silver;
	border-radius: 20px;
	padding: 5px 10px 5px 10px;
}
.linkAction:hover
{
	background-image: linear-gradient(to bottom, #ebe8eb, #c5c7c9);
}
.GxStartPageViewTable
{
	border-radius: 10px;
	background: white;
}
.recentKBValidLink
{
	color: #C60B46;
	text-decoration: none;
}
.cellAction
{
	padding: 10pt;
}
.txtTitulos
{
	font-size: large;
	font-style: italic;
	font-weight:bold;
}
.TitulosPadding
{
	padding: 5pt;
	padding-left: 10pt;
	padding-top: 10pt;
}
