<DeploymentTarget>
	<Id>LOCAL_SOURCES</Id>
	<Name>Local (sources)</Name>
	<Version>1.0</Version>
	<Description>Deploy source files to a local folder.</Description>
	<DeployMsbuild>deploy.msbuild</DeployMsbuild>
	<DeployMsbuildTarget>Deploy</DeployMsbuildTarget>
	<AvoidPackageOnly>true</AvoidPackageOnly>
	<FeatureFlag>localsources.deploy</FeatureFlag>
	<ResolverFactory>Genexus.Deployment.LocalSourcesResolvers.ResolverFactory</ResolverFactory>
	<Languages>
		<Language Id="12"/>
		<!--
		<Language Id="15"/>
		<Language Id="41"/>
		-->
	</Languages>
	<PropertiesDefinitions>Properties.xml</PropertiesDefinitions>
</DeploymentTarget>
