<div id="messageBar" [class]="statusBarClass">
    <gx-message type="{{statusMessageType}}">{{statusMessage}}</gx-message>
</div>

<gx-modal [opened]="modalOpened" (close)="closeAction()">
    <div slot="header">{{modalTitle}}</div>
    <div slot="body">
        {{modalMessage}}
    </div>
    <div slot="primary-action">
        <gx-button (click)="confirmAction()" class="Button">
            {{confirmCaption}}
        </gx-button>
    </div>
    <div slot="secondary-action" [hidden]="!allowCancelAction">
        <gx-button (click)="cancelAction()" class="Button">
            {{'GXM_cancel' | translate}}
        </gx-button>
    </div>
</gx-modal>