#messageBar {
    position: absolute;
    left: 0;
    right: 0;
    min-height: 50px;
    text-align: center;
    overflow: hidden;
    transform: translateY(-100%);
    opacity: 0;
}

#messageBar.show {
    animation: slideDown 0.5s 0s 1 ease forwards;
    opacity: 1;
}

@keyframes slideDown {
    0% {
       transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}
