<?xml version="1.0" encoding="utf-8" ?>
<Snippets>
  <Category name="Snippets">
    <Snippet name="Assignment rule"/>
    <Snippet name="Default rule"/>
		<Snippet name="NoAccept rule"/>
		<Snippet name="Parm rule"/>
		<Snippet name="Prompt rule"/>
		<Snippet name="Search rule"/>
  </Category>
</Snippets>