#rateStatus{float:left; clear:both; width:100%; height:20px;}
#rateMe{padding:0px; margin:0px;}
#rateMe li{float:left;list-style:none;}
#rateMe li a:hover,
#rateMe .on{background:url(star_on.gif) no-repeat;}
#rateMe a{float:left;background:url(star_off.gif) no-repeat;width:16px; height:16px;}
#ratingSaved{display:none;}
.saved{color:red; }