<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
	</startup>
	<appSettings>
		<add key="iOSMinimumSDK" value="15.2"/>
		<add key="tvOSMinimumSDK" value="15.2"/>
		<add key="watchOSMinimumSDK" value="8.3"/>
		<add key="MinimumXCode" value="13.2"/>
		<!-- Maximum non inclusive -->
		<add key="iOSMaximumSDK" value="16.0"/>
		<add key="tvOSMaximumSDK" value="16.0"/>
		<add key="watchOSMaximumSDK" value="9.0"/>
		<add key="MaximumXCode" value="14.0"/>
		<add key="TestPostProcessor" value="/usr/local/bin/xcpretty --tap"/>
		<add key="CocoaPodsMinVersion" value="1.11.0"/>
		<!--add key="CocoaPodsCommandLinePath" value="/usr/local/bin/pod"/-->
		<!--add key="CocoaPodsRepoUpdateInterval" value="86400"/-->
		<add key="ios-deployMinVersion" value="1.11.2"/>
		<!--add key="ios-deployCommandLinePath" value="/usr/local/bin/ios-deploy"/-->
		<!--add key="ios-deployExecuteParameters" value="-d -L -W"/-->
	</appSettings>
</configuration>
