<?xml version="1.0"?>
<ServiceDefinition xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Version>1.0</Version>
	<Description>Amazon Simple Storage Service</Description>
	<Name>AMAZONS3</Name>
	<Type>Storage</Type>
	<FriendlyName>Amazon S3</FriendlyName>
	<PropertiesDefinitions>Properties.xml</PropertiesDefinitions>
	<Generators>
		<Generator>
			<Id>15</Id>
			<ClassName>GeneXus.Storage.GXAmazonS3.ExternalProviderS3, GXAmazonS3, Version=11.0.0.0, Culture=neutral, PublicKeyToken=6f5bf81c27b6b8aa</ClassName>
			<ReferencedFiles>
				<File>/r:bin\GXAmazonS3.dll#GXAmazonS3.dll</File>
				<File>/r:bin\AWSSDK.Core.dll#AWSSDK.Core.dll</File>
				<File>/r:bin\AWSSDK.S3.dll#AWSSDK.S3.dll</File>
			</ReferencedFiles>
			<SupportFiles>
				<File>bin\GXAmazonS3.dll#GXAmazonS3.dll</File>
				<File>bin\AWSSDK.Core.dll#AWSSDK.Core.dll</File>
				<File>bin\AWSSDK.S3.dll#AWSSDK.S3.dll</File>
			</SupportFiles>
		</Generator>
		<Generator>
			<Id>41</Id>
			<ClassName>GeneXus.Storage.GXAmazonS3.ExternalProviderS3, GXAmazonS3, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</ClassName>
			<ReferencedFiles>
				<File>/r:bin\GXAmazonS3.dll#netcore\GXAmazonS3.dll</File>
				<File>/r:bin\AWSSDK.Core.dll#netcore\AWSSDK.Core.dll</File>
				<File>/r:bin\AWSSDK.S3.dll#netcore\AWSSDK.S3.dll</File>
			</ReferencedFiles>
			<SupportFiles>
				<File>bin\GXAmazonS3.dll#netcore\GXAmazonS3.dll</File>
				<File>bin\AWSSDK.Core.dll#netcore\AWSSDK.Core.dll</File>
				<File>bin\AWSSDK.S3.dll#netcore\AWSSDK.S3.dll</File>
			</SupportFiles>
		</Generator>
		<Generator>
			<Id>12</Id>
			<ClassName>com.genexus.db.driver.ExternalProviderS3</ClassName>
			<SupportFiles>
				<Directory>services</Directory>
			</SupportFiles>
		</Generator>
	</Generators>
</ServiceDefinition>