.gxResetStyles {
    z-index: 2147483646 !important;
    top: 0 !important;
    left: 0 !important;
    display: block !important;
    border: 0 none !important;
    margin: 0 !important;
    padding: 0 !important;
    outline: 0 !important;
    min-width: 0 !important;
    max-width: none !important;
    min-height: 0 !important;
    max-height: none !important;
    position: fixed !important;
    transform: rotate(0deg) !important;
    transform-origin: 50% 50% !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    background: transparent none !important;
    pointer-events: none !important;
    white-space: normal !important;
}

.gxBlockBackgroundColor {
    background-color: transparent !important;
}

.gxResetStyles:before, .gxResetStyles:after {
    content: "" !important;
}

.gxLayoutBox {
    width: auto !important;
    position: static !important;
}

.gxLayoutBoxOffset {
    opacity: 0.8 !important;
    position: fixed !important;
}

.gxLayoutBox .col-xs-1:after{
    position: absolute !important;
	text-align: center !important;
	left: 0 !important;
	right: 0 !important;
	color: rgba(255,255,255,.8) !important;
}

.gxLayoutBox .col-xs-1:nth-child(1):after{
    content: '8%' !important;
}

.gxLayoutBox .col-xs-1:nth-child(2):after{
    content: '17%' !important;
}

.gxLayoutBox .col-xs-1:nth-child(3):after{
    content: '25%' !important;
}

.gxLayoutBox .col-xs-1:nth-child(4):after{
    content: '33%' !important;
}

.gxLayoutBox .col-xs-1:nth-child(5):after{
    content: '42%' !important;
}

.gxLayoutBox .col-xs-1:nth-child(6):after{
    content: '50%' !important;
}

.gxLayoutBox .col-xs-1:nth-child(7):after{
    content: '58%' !important;
}

.gxLayoutBox .col-xs-1:nth-child(8):after{
    content: '67%' !important;
}

.gxLayoutBox .col-xs-1:nth-child(9):after{
    content: '75%' !important;
}

.gxLayoutBox .col-xs-1:nth-child(10):after{
    content: '83%' !important;
}

.gxLayoutBox .col-xs-1:nth-child(11):after{
    content: '92%' !important;
}

.gxLayoutBox .col-xs-1:nth-child(12):after{
    content: '100%' !important;
}

