<?xml version="1.0"?>
<ServiceDefinition xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Version>1.0</Version>
	<Description>Microsoft Azure Storage Service</Description>
	<Name>AZURESTORAGE</Name>
	<Type>Storage</Type>
	<FriendlyName>Microsoft Azure</FriendlyName>
	<PropertiesDefinitions>Properties.xml</PropertiesDefinitions>
	<Generators>
		<Generator>
			<Id>15</Id> 
			<ClassName>GeneXus.Storage.GXAzureStorage.AzureStorageExternalProvider, GXAzureStorage, Version=11.0.0.0, Culture=neutral, PublicKeyToken=6f5bf81c27b6b8aa</ClassName>
		
			<ReferencedFiles>
				<File>/r:bin\GXAzureStorage.dll#GXAzureStorage.dll</File>
				<File>/r:bin\Microsoft.WindowsAzure.Storage.dll#Microsoft.WindowsAzure.Storage.dll</File>
				<File>/r:bin\Microsoft.Data.Services.Client.dll#Microsoft.Data.Services.Client.dll</File>
			</ReferencedFiles>
			<SupportFiles>
				<File>bin\GXAzureStorage.dll#GXAzureStorage.dll</File>
				<File>bin\Microsoft.WindowsAzure.Storage.dll#Microsoft.WindowsAzure.Storage.dll</File>
				<File>bin\Microsoft.Data.Services.Client.dll#Microsoft.Data.Services.Client.dll</File>
			</SupportFiles>
		</Generator>
		
		<Generator>
			<Id>12</Id>
			<ClassName>com.genexus.db.driver.ExternalProviderAzureStorage</ClassName>
			<SupportFiles>
				<Directory>services</Directory>
			</SupportFiles>			
		</Generator>

		<Generator>
			<Id>41</Id> 
			<ClassName>GeneXus.Storage.GXAzureStorage.AzureStorageExternalProvider, GXAzureStorageNETCore, Version=11.0.0.0, Culture=neutral, PublicKeyToken=6f5bf81c27b6b8aa</ClassName>
			<ReferencedFiles>
				<File>/r:bin\GXAzureStorageNETCore.dll#netcore\GXAzureStorageNETCore.dll</File>
				<File>/r:bin\Microsoft.WindowsAzure.Storage.dll#netcore\Microsoft.WindowsAzure.Storage.dll</File>
			</ReferencedFiles>
			<SupportFiles>
				<File>bin\GXAzureStorageNETCore.dll#netcore\GXAzureStorageNETCore.dll</File>
				<File>bin\Microsoft.WindowsAzure.Storage.dll#netcore\Microsoft.WindowsAzure.Storage.dll</File>
			</SupportFiles>
		</Generator>

	</Generators>
</ServiceDefinition>