<DeploymentTarget>
	<Id>AWSSERVERLESS</Id>
	<Name>AWS Serverless Deploy</Name>
	<Version>1.0</Version>
	<Description>Deploy to AWS Serverless target</Description>	
	<DeployMsbuild>deploy.msbuild</DeployMsbuild>
	<DeployMsbuildTarget>Deploy</DeployMsbuildTarget>
	<PackageTargets>awsserverless.targets</PackageTargets>
	<Languages>
		<Language Id="12" ApplicationServer="Generic Servlet 3.1"/>		
	</Languages>
	<DataSources>
		<DataSource Id="12" /> <!-- Microsoft SQL Server -->
		<DataSource Id="18" /> <!-- MySQL -->		
		<DataSource Id="15" /> <!-- POSTGRESQL -->	
		<DataSource Id="7" /> <!-- Oracle -->	
	</DataSources>
	<PropertiesDefinitions>Properties.xml</PropertiesDefinitions>
</DeploymentTarget>
