.gx-basic-tab .nav-tabs {
    padding: 0;
}
.gx-basic-tab .nav-tabs > li {
    list-style: none;
    margin: 0 5px;
    padding: 0;
    display: inline-block;
}

.gx-basic-tab .tab-pane {
    display: none;
} 

.gx-basic-tab .tab-pane.active {
    display: block;
}

.gx-basic-tab .hidden {
	display: none !important;
}