<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.genexus.android.controls.maps.mapbox">

	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

	<application>
		<activity android:name="LocationPickerActivity" />
		<meta-data android:name="mapbox_access_token" android:value="@string/MapsApiKey" />
	</application>

</manifest>
