<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.genexus.android.core.externalobjects">

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

	<application>
		<activity android:name="com.genexus.android.core.externalobjects.WebBrowserRedirectActivity"
			android:exported="false"/>
	</application>

	<queries>
		<intent>
			<action android:name="android.intent.action.PICK" />
			<data android:mimeType="vnd.android.cursor.dir/phone_v2" />
		</intent>
		<intent>
			<action android:name="android.intent.action.VIEW" />
			<data android:mimeType="*/*" />
		</intent>
	</queries>
</manifest>
