# Android Studio
/captures
*.iml

# Gradle
build
.gradle
local.properties

# Intellij IDEA
/.idea/*
!/.idea/vcs.xml

# Mac OS
.DS_Store

# The Workspace directory is used for attaching local main projects
/Workspace
