<?xml version="1.0"?>
<ServiceDefinition xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Version>1.0</Version>
	<Description>OneSignal Notifications</Description>
	<Name>ONESIGNAL</Name>
	<Type>Notifications</Type>
	<FriendlyName>OneSignal</FriendlyName>
	<PropertiesDefinitions>Properties.xml</PropertiesDefinitions>
	<Generators>
		<Generator>
			<Id>15</Id> 
			<ClassName>genexus.common.notifications.onesignal.{procName}</ClassName>
			<ReferencedFiles>
			</ReferencedFiles>
			<SupportFiles>
			</SupportFiles>
		</Generator>
		<Generator>
			<Id>41</Id> 
			<ClassName>genexus.common.notifications.onesignal.{procName}</ClassName>
			<ReferencedFiles>
			</ReferencedFiles>
			<SupportFiles>
			</SupportFiles>
		</Generator>
		<Generator>
			<Id>12</Id>
			<ClassName>com.genexuscore.genexus.common.notifications.onesignal.{procName}</ClassName>
			<SupportFiles>
			</SupportFiles>
		</Generator>
	</Generators>
</ServiceDefinition>