<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.genexus.controls.maps.hms" >

    <!-- permission for mapkit maps -->
   <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
   <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
   
    <!-- features for google maps -->
   <uses-feature android:name="android.hardware.location.gps" android:required="false"/> <!-- gps not required -->

	<uses-permission android:name="com.huawei.appmarket.service.commondata.permission.GET_COMMON_DATA" />

	<application>
        <activity android:name="com.genexus.android.controls.maps.hms.LocationPickerActivity" />
    </application>

</manifest>
