.WWPDraggingOrig {
    opacity: 0;
}

.popover {
    opacity: .3 !important;
    max-width: inherit;
}

    .popover:hover {
        opacity: 1 !important;
    }

.popover-content > div {
    white-space: nowrap;
}

.popover-content i {
    text-align: center;
    padding-bottom: 2px;
    padding-right: 3px;
    margin-left: -3px;
}

.popover-content .subOptions {
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
}

    .popover-content .subOptions .subOptionCategory {
        display: flex;
        flex-wrap: wrap;
        margin-top: 3px;
        margin-bottom: 3px;
    }

        .popover-content .subOptions .subOptionCategory:not(:last-child) {
            border-right: solid 1px #cacaca;
            padding-right: 2px;
            padding-left: 2px;
        }

    .popover-content .subOptions i.selected {
        background-color: #f5f5f5;
        border: solid 1px #dbdbdb;
    }

    .popover-content .subOptions i {
        line-height: 19px;
        margin: 0 0 0 0;
        padding-right: 4px;
        padding-top: 2px;
        padding-left: 4px;
        display: inline;
    }

    .popover-content .subOptions a {
        margin: 0px 1px 0px 1px;
        padding: 0 0 0 0;
    }

.popover-content a:hover {
    text-decoration: none;
}

.popover-content.subOptionsOpened > div > a {
    opacity: .1;
}

.popover-content a {
    margin-left: 5px;
    margin-right: 5px;
}

.popover-content > div > a:last-child {
    margin-right: 0;
}

.popover-content i {
    color: #000;
}

    .popover-content i.fa-times {
        color: #f00;
        font-size: 17px;
    }

    .popover-content i.InvisibleByDefault {
        color: #d1d102;
    }

.optionDescription {
    font-size: 12px;
    color: #858585;
    padding: 0 10px 0 10px !important;
    background-color: inherit !important;
    box-shadow: none !important;
    display: block;
    margin-top: 15px;
}

.WWPDraggingContainerGeneral > div.row > div, tbody.WWPDraggingContainerGeneral > tr > td {
    border: solid 1px #00f;
}

.WWPDraggingContainer > div.row > div, tbody.WWPDraggingContainer > tr > td {
    border: solid 1px #ffe1e1;
}

.WWPDraggingContainer > div.row > div, tbody.WWPDraggingContainer > tr > td {
    border: solid 1px #ffe1e1;
}

    .WWPDraggingContainer > div.row > div.WWPDragOverDown, tbody.WWPDraggingContainer:not([fsGridWithDscs]) > tr > td.WWPDragOverDown {
        border-bottom: solid 2px #f00;
    }

.WWPDraggingContainer > div.row.VisibleWhenDragging > div.WWPDragOverDown, tbody.WWPDraggingContainer > tr.VisibleWhenDragging > td.WWPDragOverDown, .WWPDragOver {
    border: solid 2px #f00 !important;
}

.WWPDraggingContainer > div.row > div.WWPDragOverUp, tbody.WWPDraggingContainer:not([fsGridWithDscs]) > tr > td.WWPDragOverUp {
    border-top: solid 2px #f00;
}

tbody.WWPDraggingContainer[fsGridWithDscs] > tr > td.WWPDragOverUp {
    border-left: solid 2px #f00;
}

tbody.WWPDraggingContainer[fsGridWithDscs] > tr > td.WWPDragOverDown {
    border-right: solid 2px #f00;
}

.WWPDraggingContainer.gx-action-group > div, .WWPDraggingContainer[data-gx-flex] > div {
    border: solid 1px #ffe1e1;
}

    .WWPDraggingContainer.gx-action-group > div.WWPDragOverParentDown, .WWPDraggingContainer[data-gx-flex] > div.WWPDragOverDown {
        border-right: solid 3px #f00;
    }

        .WWPDraggingContainer.gx-action-group > div.WWPDragOverParentDown.VisibleWhenDragging, .WWPDraggingContainer[data-gx-flex] > div.WWPDragOverDown.VisibleWhenDragging {
            border: solid 2px #f00;
        }

    .WWPDraggingContainer.gx-action-group > div.WWPDragOverParentUp, .WWPDraggingContainer[data-gx-flex] > div.WWPDragOverUp {
        border-left: solid 3px #f00;
    }

/* Grid */
thead.WWPDraggingContainer > * > * {
    border-left: solid 1px #ffe1e1;
    border-right: solid 1px #ffe1e1;
}

thead.WWPDraggingContainer > * > .WWPDragOverDown {
    border-right: solid 3px #f00;
}

thead.WWPDraggingContainer > * > .WWPDragOverUp {
    border-left: solid 3px #f00;
}

.wwpToolbar {
    height: 25px;
    background-color: #e3e3e3;
    position: fixed;
    top: 0;
    width: auto;
    right: 20px;
    border: solid 1px #d3d3d3;
    z-index: 9999;
}

    .wwpToolbar img {
        height: 23px;
        padding: 4px;
        cursor: pointer;
    }

    .wwpToolbar span {
        padding-left: 5px;
        padding-right: 5px;
        line-height: 21px;
        position: relative;
        top: 1px;
    }

    .wwpToolbar > .divisor {
        display: inline-block;
        width: 1px;
        background-color: #868686;
        height: 23px;
        margin-bottom: -9px;
        margin-left: 5px;
        margin-right: 4px;
    }

    .wwpToolbar i {
        width: 20px;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 2px;
    }

        .wwpToolbar i[highlight=disabled] {
            color: #a5a5a5;
        }

        .wwpToolbar i[highlight=fade] {
            color: #45ce72;
        }

body:not(.UserDragging) .VisibleWhenDragging {
    display: none;
}

.VisibleWhenDragging, .VisibleWhenDragging > * {
    min-width: 20px;
    width: 100%;
    height: 20px;
}

.highlightTransition {
    transition: background-color .5s;
}

/*.highlightElement:not([draggabletable]):not([draggableagcontainer]):not([draggablecontainer]):not([paginationbar]):not([type=button]) {
    background-color: #F3FFE3 !important;
}*/
.highlightElement[type=button] {
    border: solid 2px #000;
}

.highlightCell {
    border: solid 1px #ffc9c9 !important;
}

.highlightElement[draggabletable] > div.row > div,
tbody.highlightElement[draggabletable] > tr > td,
.gx-grid > .highlightCell > thead > tr > th,
.gx-grid > .highlightCell > tbody > tr > td,
.gx-action-group.highlightElement > *,
.highlightElement[draggablecontainer] > * {
    border: solid 1px #ffc9c9 !important;
}

.popover_FontSmall {
    font-size: 9px;
}

.popover_FontRegular {
    font-size: 14px;
}

.popover_FontLarge {
    font-size: 17px;
}

.formatDivision {
    width: 1px;
    background-color: #b7b7b7;
    height: 16px;
    display: inline-block;
    margin-bottom: -2px;
}

.popover i.ColorDanger {
    color: #dd4b39;
}

.popover i.ColorWarning {
    color: #f39c12;
}

.popover i.ColorInfo {
    color: #3c8dbc;
}

.popover i.ColorSuccess {
    color: #00a65a;
}

.popover i.ColorBaseColor {
    /*<CSS_Base_Color>*/
}

.popover i.ColorInfoLight {
    color: #00c0ef;
}

.popover i.ColorLabel {
    /*<CSS_Attribute_Label_Color>*/
}

.fa.divisionLine:before {
    content: "|";
    font-weight: bold;
    font-family: arial;
    top: -2px;
    position: relative;
}

.popover .IconTitleAlign {
    padding-right: 0px !important;
}

    .popover .IconTitleAlign:before {
        height: 9px;
        overflow: hidden;
        top: 4px;
        position: relative;
        display: inline-flex;
        left: -5px;
        width: 17px;
    }

i.popover_GridColumnHighlight {
    color: #d3d3d3;
}

.wwpToolbarExpanded > .ToolbarExpand, .wwpToolbarCollapsed > .ToolbarCollapse {
    display: none;
}

.wwpToolbarCollapsed:not(:hover) > *:not(.ToolbarExpand):not(span) {
    display: none;
}

.wwpToolbar:not(:hover) > span {
    display: none;
}

.wwpToolbarExpanded {
    opacity: 0.5;
}

.wwpToolbarCollapsed {
    opacity: 0.3;
}

.wwpToolbar:hover {
    opacity: 1;
}

.ToolbarExpand, .ToolbarCollapse {
    line-height: 24px;
}

.wwpToolbarCollapsed {
    padding-left: 5px;
}
