.progress-fade {
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    position:fixed;
    background-color: #aaaaaa33;
}

.progress-box {
    position: fixed;
    z-index: 3000;
    top: 50%;
    min-height: 70px;
    width: 300px;
    left: calc( 50% - 150px );
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 4px #999;
}

.progress-body {
    width:260px;
}

.progress-header {
    margin:5px;
    font-weight:500;
}

.progress-body-text {
    margin:2px;
    margin-top:5px;
    margin-bottom:10px;
}