<?xml version="1.0" encoding="utf-8"?>
<Services xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Service>
    <Name>REDIS</Name>
    <Type>Session</Type>
    <ClassName></ClassName>
    <Properties>
      <Property>
        <Name>SESSION_PROVIDER_ADDRESS</Name>
        <Value></Value>
      </Property>
      <Property>
        <Name>SESSION_PROVIDER_PASSWORD</Name>
        <Value></Value>
      </Property>
      <Property>
        <Name>SESSION_PROVIDER_INSTANCE_NAME</Name>
        <Value></Value>
      </Property>
	  <Property>
        <Name>SESSION_PROVIDER_SESSION_TIMEOUT</Name>
        <Value></Value>
      </Property>
    </Properties>
  </Service>
</Services>