<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$Main.iOSDevelopmentRegion$</string>
	<key>CFBundleDisplayName</key>
	<string>$Main.Name$ WatchKit Extension</string>
	<key>CFBundleExecutable</key>
	<string>\$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>\$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>\$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>\$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>\$(CURRENT_PROJECT_VERSION)</string>
$if(false)$
$if(Main.watchOSAppHasComplications)$
	<key>CLKComplicationPrincipalClass</key>
	<string>SDLIGAMXPROComplicationsDataSource</string>
	<key>CLKComplicationSupportedFamilies</key>
	<array>
	$Main.watchOSAppComplicationSupportedFamilies$
	</array>
$endif$
$endif$
	<key>GXDefaultServerAddress</key>
	<string>$Model.iOSTargetUrl; format="Escape"$</string>
	<key>GXDefaultServerMainEntryPoint</key>
	<string>$Main.WatchOSMainData.ObjType$-$Main.WatchOSMainData.FullName$</string>
	<key>GXMetadataVersion</key>
	<integer>$Model.GxVersion$</integer>
	$Main.WatchOSMainData.IOSOfflineInfoPlistKeys$
	$Main.IOSAppTransportSecurity$
	$Main.iOSCertificatePinning$
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>WKAppBundleIdentifier</key>
			<string>$Main.IOSBundleIdentifier$.watchkitapp</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.watchkit</string>
	</dict>
	<key>WKExtensionDelegateClassName</key>
	<string>\$(PRODUCT_MODULE_NAME).$Main.WatchExtensionDelegateClassName$</string>
</dict>
</plist>
