<?xml version="1.0"?>
<ServiceDefinition xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Version>1.0</Version>
	<Description>Firebase Analytics</Description>
	<Name>FIREBASE_ANALYTICS_PROVIDER</Name>
	<Type>Analytics</Type>
	<FriendlyName>Firebase</FriendlyName>
	<IsClientService>true</IsClientService>
</ServiceDefinition>
