<?xml version="1.0"?>
<ServiceDefinition xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Version>1.0</Version>
	<Description>JPush Notifications</Description>
	<Name>JPUSH</Name>
	<Type>Notifications</Type>
	<FriendlyName>JPush</FriendlyName>
	<PropertiesDefinitions>Properties.xml</PropertiesDefinitions>
	<Generators>
		<Generator>
			<Id>15</Id> 
			<ClassName>GeneXus.PushProvider.jpush.{procName}, JPush</ClassName>
			<ReferencedFiles>
				<File>/r:bin\JPush.dll#JPush.dll</File>
			</ReferencedFiles>
			<SupportFiles>
				<File>bin\JPush.dll#JPush.dll</File>
			</SupportFiles>
		</Generator>
		<Generator>
			<Id>12</Id>
			<ClassName>uy.com.puntoexe.jpush.{procName}</ClassName>
			<SupportFiles>
				<Directory>services</Directory>
			</SupportFiles>
		</Generator>
		<Generator>
			<Id>41</Id> 
			<ClassName>GeneXus.PushProvider.jpush.{procName}, JPush</ClassName>
			<ReferencedFiles>
				<File>/r:bin\JPush.dll#JPush.dll</File>
			</ReferencedFiles>
			<SupportFiles>
				<File>bin\JPush.dll#netcore\JPush.dll</File>
			</SupportFiles>
		</Generator>
	</Generators>
</ServiceDefinition>