<?xml version="1.0"?>
<ServiceDefinition xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Version>1.0</Version>
	<Description>Google Cloud Platfrom Storage Service</Description>
	<Name>GOOGLE</Name>
	<Type>Storage</Type>
	<FriendlyName>Google Cloud Storage</FriendlyName>
	<PropertiesDefinitions>Properties.xml</PropertiesDefinitions>
	<Generators>
		<Generator>
			<Id>15</Id> 
			<ClassName>GeneXus.Storage.GXGoogleCloud.ExternalProviderGoogle, GXGoogleCloud, Version=11.0.0.0, Culture=neutral, PublicKeyToken=6f5bf81c27b6b8aa</ClassName>
		<ReferencedFiles>
				<File>/r:bin\GXGoogleCloud.dll#GXGoogleCloud.dll</File>
				<File>/r:bin\Google.Apis.Auth.dll#Google.Apis.Auth.dll</File>
				<File>/r:bin\Google.Apis.Auth.PlatformServices.dll#Google.Apis.Auth.PlatformServices.dll</File>
				<File>/r:bin\Google.Apis.Core.dll#Google.Apis.Core.dll</File>
				<File>/r:bin\Google.Apis.dll#Google.Apis.dll</File>
				<File>/r:bin\Google.Apis.PlatformServices.dll#Google.Apis.PlatformServices.dll</File>
				<File>/r:bin\Google.Apis.Storage.v1.dll#Google.Apis.Storage.v1.dll</File>
				<File>/r:bin\Newtonsoft.Json.dll#Newtonsoft.Json.dll</File>
				<File>/r:bin\BouncyCastle.Crypto.dll#BouncyCastle.Crypto.dll</File>				
				<File>/r:bin\Google.Cloud.Storage.V1.dll#Google.Cloud.Storage.V1.dll</File>
				<File>/r:bin\Google.Api.Gax.dll#Google.Api.Gax.dll</File>
				<File>/r:bin\Google.Api.Gax.Rest.dll#Google.Api.Gax.Rest.dll</File>
			</ReferencedFiles>
			<SupportFiles>
				<File>bin\GXGoogleCloud.dll#GXGoogleCloud.dll</File>
				<File>bin\Google.Apis.Auth.dll#Google.Apis.Auth.dll</File>
				<File>bin\Google.Apis.Auth.PlatformServices.dll#Google.Apis.Auth.PlatformServices.dll</File>
				<File>bin\Google.Apis.Core.dll#Google.Apis.Core.dll</File>
				<File>bin\Google.Apis.dll#Google.Apis.dll</File>
				<File>bin\Google.Apis.PlatformServices.dll#Google.Apis.PlatformServices.dll</File>
				<File>bin\Google.Apis.Storage.v1.dll#Google.Apis.Storage.v1.dll</File>
				<File>bin\Newtonsoft.Json.dll#Newtonsoft.Json.dll</File>
				<File>bin\BouncyCastle.Crypto.dll#BouncyCastle.Crypto.dll</File>				
				<File>bin\Google.Cloud.Storage.V1.dll#Google.Cloud.Storage.V1.dll</File>
				<File>bin\Google.Api.Gax.dll#Google.Api.Gax.dll</File>
				<File>bin\Google.Api.Gax.Rest.dll#Google.Api.Gax.Rest.dll</File>
			</SupportFiles>
		</Generator>
		
		<Generator>
			<Id>41</Id> 
			<ClassName>GeneXus.Storage.GXGoogleCloud.ExternalProviderGoogle, GXGoogleCloud, Version=11.0.0.0, Culture=neutral, PublicKeyToken=6f5bf81c27b6b8aa</ClassName>
			<ReferencedFiles>
				<File>/r:bin\GXGoogleCloud.dll#netcore\GXGoogleCloud.dll</File>
				<File>/r:bin\Google.Apis.Auth.dll#netcore\Google.Apis.Auth.dll</File>
				<File>/r:bin\Google.Apis.Auth.PlatformServices.dll#netcore\Google.Apis.Auth.PlatformServices.dll</File>
				<File>/r:bin\Google.Apis.Core.dll#netcore\Google.Apis.Core.dll</File>
				<File>/r:bin\Google.Apis.dll#netcore\Google.Apis.dll</File>				
				<File>/r:bin\Google.Apis.Storage.v1.dll#netcore\Google.Apis.Storage.v1.dll</File>
				<File>/r:bin\Newtonsoft.Json.dll#netcore\Newtonsoft.Json.dll</File>						
				<File>/r:bin\Google.Cloud.Storage.V1.dll#netcore\Google.Cloud.Storage.V1.dll</File>
				<File>/r:bin\Google.Api.Gax.dll#netcore\Google.Api.Gax.dll</File>
				<File>/r:bin\Google.Api.Gax.Rest.dll#netcore\Google.Api.Gax.Rest.dll</File>
				<File>/r:bin\Microsoft.Extensions.PlatformAbstractions.dll#netcore\Microsoft.Extensions.PlatformAbstractions.dll</File>				
			</ReferencedFiles>
			<SupportFiles>
				<File>bin\GXGoogleCloud.dll#netcore\GXGoogleCloud.dll</File>
				<File>bin\Google.Apis.Auth.dll#netcore\Google.Apis.Auth.dll</File>
				<File>bin\Google.Apis.Auth.PlatformServices.dll#netcore\Google.Apis.Auth.PlatformServices.dll</File>
				<File>bin\Google.Apis.Core.dll#netcore\Google.Apis.Core.dll</File>
				<File>bin\Google.Apis.dll#netcore\Google.Apis.dll</File>				
				<File>bin\Google.Apis.Storage.v1.dll#netcore\Google.Apis.Storage.v1.dll</File>
				<File>bin\Newtonsoft.Json.dll#netcore\Newtonsoft.Json.dll</File>				
				<File>bin\Google.Cloud.Storage.V1.dll#netcore\Google.Cloud.Storage.V1.dll</File>
				<File>bin\Google.Api.Gax.dll#netcore\Google.Api.Gax.dll</File>
				<File>bin\Microsoft.Extensions.PlatformAbstractions.dll#netcore\Microsoft.Extensions.PlatformAbstractions.dll</File>
				<File>bin\Google.Api.Gax.Rest.dll#netcore\Google.Api.Gax.Rest.dll</File>				
			</SupportFiles>
		</Generator>	
		
		<Generator>
			<Id>12</Id>
			<ClassName>com.genexus.db.driver.ExternalProviderGoogle</ClassName>
			<SupportFiles>
				<Directory>services</Directory>
			</SupportFiles>			
		</Generator>
	</Generators>
</ServiceDefinition>