{
    "JDK": {
        "Type": "ExactMajor",
        "Version": "11.0",
    },
    "AndroidSDK": [
        {
            "Component": {
                "Desc": "Android SDK Tools",
                "Path": "tools"
            },
            "Type": "Minimum",
            "Version": "26.1.1"
        },
		{
            "Component": {
                "Desc": "Android SDK Command-line Tools",
                "Path": "cmdline-tools;5.0"
            },
            "Type": "Exact",
            "Version": "5.0"
        },
        {
            "Component": {
                "Desc": "Android SDK Platform-tools",
                "Path": "platform-tools"
            },
            "Type": "Minimum",
            "Version": "31.0.3"
        },
        {
            "Component": {
                "Desc": "Android Emulator",
                "Path": "emulator",
                "Paths": ["emulator", "emulator-2" ] 
            },
            "Type": "Minimum",
            "Version": "30.7.3"
        },
        {
            "Component": {
                "Desc": "Android SDK Build-tools",
                "Path": "build-tools;31.0.0"
            },
            "Type": "Exact",
            "Version": "31.0.0"
        },
        {
            "Component": {
                "Desc": "Android 12 (API 31) SDK Platform",
                "Path": "platforms;android-31"
            },
            "Type": "Any"
        },
        {
            "Component": {
                "Desc": "Android 12 (API 31) Google Play Intel x86 Atom System Image",
                "Path": "system-images;android-31;google_apis_playstore;x86_64"
            },
            "Type": "Any"
        },
        {
            "Component": {
                "Desc": "Android 5.0 (API 21) ARM EABI v7a System Image",
                "Path": "system-images;android-21;google_apis;armeabi-v7a"
            },
            "Type": "Any"
        }
    ]
}
