body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 9pt;
	margin: 10px;
	padding: 0;
	background-color: white;
	color: grey;
}

img {
	width: 16px;
	height: 16px;
	border: 0;
}

.MainContentTable {
	border-spacing: 0;
	border: 1px solid #6C6C6C;
	border-collapse: collapse;
	padding: 0;
	width: 100%;
}

.MainContentTable td {
	padding: 0;
}

.MainContentCell {
	padding: 5px 10px;
}

.MainHeaderTable {
	background-color: #FFF7FA;
	color: #BF1E59;
	border-spacing: 0;
	border: 1px solid #D8658F;
	border-collapse: collapse;
	font-size: 12pt;
	font-weight: bold;
	width: 100%;
}

.MainHeaderTable td {
	padding: 10px;
}

.MainHeaderTitle {
	width: 100%;
}

.HeaderTable, .HeaderTableRight {
	background-color: #F7F7F7;
	border-spacing: 0;
	border-top: 1px solid #6C6C6C;
	border-bottom: 1px solid #6C6C6C;
	border-collapse: collapse;
	position: relative;
	right: 0;
	width: 100%;
}

.HeaderTable td, .HeaderTableRight td {
	padding: 10px 6px;
}

.HeaderTableRight {
	border-left: 1px solid #6C6C6C;
}

.TableLevelInfo {
	border-collapse: collapse;
	width: 100%;
}

.TableLevelInfo .HeaderTable {
	border-left: 1px solid #6C6C6C;
}

.LayoutNoBorder {
	border-spacing: 0;
	border-width: 0;
	border-collapse: collapse;
	padding: 0;
}

.TableContainer {
	border-width: 0px;
	padding: 5px;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 100%;
	border-spacing: 6px;
	border-collapse: separate;
}

.ActionTable {
	padding: 5px 0px;
}

.MainInfoCell tr + tr,
.AdvancedInfoCell tr + tr {
	border-top: 1px solid #6C6C6C;
	border-bottom: 1px solid #6C6C6C;
}

.AdvancedInfoCell .TableContainer {
	border-left: 1px solid;
}

.subTitulosTabla {
	font-weight: bold;
	text-align: left;
}

.gxobjnotexist {
	color: red;
}

.gxobj {
	text-decoration: underline;
	color: #2B5E99;
	cursor: pointer;
}

.gxcontent {
	border-spacing: 0;
	border-width: 0;
	border-collapse: collapse;
	padding: 0;
}

.gxcontent td {
	padding: 3px;
}

.gxcontent th + td {
	margin-bottom: 12px;
}

.gxsource {
	background-color: transparent;
	color: darkblue;
}

.gxevent {
	color: darkblue;
}

.gxlink {
	text-decoration: underline;
	cursor: pointer;
}

div.LayoutNoBorder, div.gxcontent, .NestedTable {
	padding: 10px 0 10px 15px;
}

table.LayoutNoBorder {
	width: 100%;
}

.CommandText {
	text-transform: uppercase;
}

.ResultText {
	font-weight: bold;
	color: darkorange;
}

.LabelText {
	color: #58A7D8;
	font-weight: bold;
}

.ErrorText {
	color: #D20202;
}

.WarningText, .ErrorText, .MessageText {
	font-weight: bold;
}

.ErrorRow {
}

.WarningRow {
}

.MessageRow {
}

.NavigationFilter {
	color: #58A7D8;
}

.NavigationWarning {
	color: darkorange;
}

tr.NoSpacing>td {
   padding-bottom: 0;
   padding-top: 0;
}
