<DeploymentTarget>
	<Id>STATICFRONTEND</Id>
	<Name>Static Front end</Name>
	<DeploymentScopes>
		<Scope Id = "Frontend" />
	</DeploymentScopes>
	<Version>0.1</Version>
	<Description>Deploy Front end Applications to Cloud Provider Object Storage</Description>	
	<DeployMsbuild>deploy.msbuild</DeployMsbuild>
	<DeployMsbuildTarget>Deploy</DeployMsbuildTarget>
	<PackageTargets>staticfrontend.targets</PackageTargets>
	<ResolverFactory>GeneXus.Deployment.StaticFrontendResolvers.ResolverFactory</ResolverFactory>
	<Languages>
		<Language Id="15" ApplicationServer="IIS8"/>
		<Language Id="12" ApplicationServer="Tomcat 8.x"/>
		<Language Id="41" ApplicationServer="Kestrel"/>
	</Languages>
	<DataSources>
		<DataSource Id="12" /> <!-- Microsoft SQL Server -->
		<DataSource Id="18" /> <!-- MySQL -->		
		<DataSource Id="15" /> <!-- POSTGRESQL -->	
		<DataSource Id="7" /> <!-- Oracle -->	
	</DataSources>
	<PropertiesDefinitions>Properties.xml</PropertiesDefinitions>
</DeploymentTarget>
