<div class="click-capture">
    <div class="file-viewer">
        <div [href]="fileSource"
            class="file-viewer-file"
            *ngIf="fileSource && fileSource.length > 0"
            (click)="viewFile();$event.stopPropagation()">
            {{ fileShowName }}
        </div>

        <div class="file-viewer-button">
            <button ngClass="file-edit"
                    *ngIf="!readonly"
                    [disabled]="disabled || uploading"
                    (click)="triggerAction(); $event.stopPropagation()">
                <img />
            </button>
        </div>
    </div>
    <gx-modal [opened]="showDialog" (onClose)="closeAction()" class="action-dialog">
        <div slot="header">{{ modalTitle }}</div>
        <div slot="body" style="display:flex; justify-content: space-around;">
            <label class="select-file">
                <span>{{'Change file' | translate }}</span>
                <input #fileInput
                       type="file"
                       (change)="onFileSelected(); closeAction();$event.stopPropagation()" />
            </label>
            <gx-button (click)="clearFileAction(); closeAction(); $event.stopPropagation()" class="Button">
                {{'Remove file' | translate }}
            </gx-button>
        </div>
        <div slot="secondary-action">
            <gx-button (click)="closeAction(); $event.stopPropagation()" class="Button">
                {{'GXM_cancel' | translate }}
            </gx-button>
        </div>
    </gx-modal>
</div>
