@font-face {
    font-family: SourceSansPro;
    src: url('SourceSansPro-Regular.ttf');
}

.main-menu
{
    padding-top: 20px;
    background-color: #f4f5ef;
}

.main-menu-box
{
    margin-bottom: 30px;
    padding-left: 20px;
}

.main-menu-title
{
    color: black;
    margin: 0;
    padding: 4px 8px;
    font-weight:bold;
    padding-left: 15px;
    background-repeat: no-repeat;
    background-image: url(img/flechita.png);
    background-position: 3px 10px;
    
}

.main-menu-sub{
    font-size: 15px;
    line-height: 24px;
	margin: 3px 0 3px 15px;
    
}

.main-menu-sub a{
    padding-left: 15px;
    background-repeat: no-repeat;
    background-image: url(img/bullet.png);
    background-position: 3px 10px;
}

.home
{
    margin-left: 20px;
}

.prominent-link
{
    margin: 5px 0;
}

.prominent-link:before
{
    content: '';
}

.main-menu a
{
    display:block;
}

#left-frame{
    margin-top: 22px;
    margin-left: 22px;
}

* {
	font-family: SourceSansPro, 'Source Sans Pro', sans-serif;
	font-size:15px;

}

a{
	text-decoration:none;
	color:#404040;
}

a:hover{
	text-decoration:none;
}

