<?xml version="1.0"?>
<ServiceDefinition xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Version>1.0</Version>
	<Description>Distributed Cache using Memcached</Description>
	<Name>MEMCACHED</Name>
	<Type>Cache</Type>
	<FriendlyName>Memcached</FriendlyName>
	<PropertiesDefinitions>Properties.xml</PropertiesDefinitions>
	<Generators>
		<Generator>
			<Id>15</Id> 
			<ClassName>GeneXus.Cache.Memcached, GxMemcached, Version=11.0.0.0, Culture=neutral, PublicKeyToken=6f5bf81c27b6b8aa</ClassName>
			<ReferencedFiles>
				<File>/r:bin\GxMemcached.dll#GxMemcached.dll</File>
				<File>/r:bin\Enyim.Caching.dll#Enyim.Caching.dll</File>
				<File>/r:bin\System.Text.Json.dll#System.Text.Json.dll</File>
				<File>/r:bin\Microsoft.Bcl.AsyncInterfaces.dll#Microsoft.Bcl.AsyncInterfaces.dll</File>
				<File>/r:bin\System.Buffers.dll#System.Buffers.dll</File>
				<File>/r:bin\System.Numerics.Vectors.dll#System.Numerics.Vectors.dll</File>
				<File>/r:bin\System.Text.Encodings.Web.dll#System.Text.Encodings.Web.dll</File>
				<File>/r:bin\System.Memory.dll#System.Memory.dll</File>
				<File>/r:bin\System.Threading.Tasks.Extensions.dll#System.Threading.Tasks.Extensions.dll</File>
				<File>/r:bin\System.Runtime.CompilerServices.Unsafe.dll#System.Runtime.CompilerServices.Unsafe.dll</File>
			</ReferencedFiles>
			<SupportFiles>
				<File>bin\GxMemcached.dll#GxMemcached.dll</File>
				<File>bin\Enyim.Caching.dll#Enyim.Caching.dll</File>
				<File>bin\System.Text.Json.dll#System.Text.Json.dll</File>
				<File>bin\Microsoft.Bcl.AsyncInterfaces.dll#Microsoft.Bcl.AsyncInterfaces.dll</File>
				<File>bin\System.Buffers.dll#System.Buffers.dll</File>
				<File>bin\System.Numerics.Vectors.dll#System.Numerics.Vectors.dll</File>
				<File>bin\System.Text.Encodings.Web.dll#System.Text.Encodings.Web.dll</File>
				<File>bin\System.Memory.dll#System.Memory.dll</File>
				<File>bin\System.Threading.Tasks.Extensions.dll#System.Threading.Tasks.Extensions.dll</File>
				<File>bin\System.Runtime.CompilerServices.Unsafe.dll#System.Runtime.CompilerServices.Unsafe.dll</File>
			</SupportFiles>
		</Generator>
		<Generator>
			<Id>41</Id> 
			<ClassName>GeneXus.Cache.Memcached, GxMemcached, Version=11.0.0.0, Culture=neutral, PublicKeyToken=6f5bf81c27b6b8aa</ClassName>
			<ReferencedFiles>
				<File>/r:bin\GxMemcached.dll#netcore\GxMemcached.dll</File>
				<File>/r:bin\EnyimMemcachedCore.dll#netcore\EnyimMemcachedCore.dll</File>
				<File>/r:bin\Microsoft.Extensions.Configuration.Binder.dll#netcore\Microsoft.Extensions.Configuration.Binder.dll</File>
				<File>/r:bin\Microsoft.Bcl.AsyncInterfaces.dll#netcore\Microsoft.Bcl.AsyncInterfaces.dll</File>
			</ReferencedFiles>
			<SupportFiles>
				<File>bin\GxMemcached.dll#netcore\GxMemcached.dll</File>
				<File>bin\EnyimMemcachedCore.dll#netcore\EnyimMemcachedCore.dll</File>
				<File>bin\Microsoft.Extensions.Configuration.Binder.dll#netcore\Microsoft.Extensions.Configuration.Binder.dll</File>
				<File>bin\Microsoft.Bcl.AsyncInterfaces.dll#netcore\Microsoft.Bcl.AsyncInterfaces.dll</File>
			</SupportFiles>
		</Generator>
		<Generator>
			<Id>12</Id>
			<ClassName>com.genexus.Memcached</ClassName>
			<SupportFiles>
				<Directory>services</Directory>
			</SupportFiles>
		</Generator>
	</Generators>
</ServiceDefinition>